 <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title">Editar servicio </h4>
                                                </div>
                                                <div class="modal-body">
                                                    
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">Nombre del finado</label>
                                                                <input type="text" class="form-control" id="field-1" ng-model="finado.nombre" placeholder="{{soul.fullname}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="field-2" class="control-label">Tipo de servicio</label>
	                                                               <select class="form-control">
	                                                                   <option>Cremación</option>
	                                                                   <option>Inhumación</option>
	                                                               </select>
	                                                        </div>
                                                       </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="field-3" class="control-label">Lugar de velación</label>
                                                                <select class="form-control">
	                                                                   <option>Sala A</option>
	                                                                   <option>Sala B</option>
	                                                                   <option>Sala C</option>
	                                                                   <option>Domicilio externo</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="row">
                                                        
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="field-4" class="control-label">Dirección</label>
                                                                <input type="text" class="form-control" id="field-4">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="field-4" class="control-label">Religión</label>
                                                                <select class="form-control">
	                                                                   <option>Católico</option>
	                                                                   <option>Cristiano</option>
	                                                                   <option>Judio</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <label for="field-4" class="control-label">Correo electrónico</label>
                                                                <input type="email" class="form-control" id="field-4">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                                <label for="field-4" class="control-label">Clave interna</label>
                                                                <input type="text" class="form-control" id="field-4">
                                                        </div>
                                                        </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
			                                			      <label class="control-label col-sm-4">Fecha de finalización</label>
			                                			          <div class="col-sm-8">
			                                				         <div class="input-group">
																        <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
																        <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
															         </div><!-- input-group -->
			                                			          </div>
			                                		       </div>
                                                        </div>
                                                        <div class="col-md-6">
			                                			      <label class="control-label col-sm-4">Hora</label>
                                                            <div class="input-group m-b-0">
                                                                <div class="bootstrap-timepicker">
                                                                    <input id="timepicker3" type="text" class="form-control">
                                                                </div>
                                                                <span class="input-group-addon bg-primary b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                                            </div><!-- input-group -->

                                                        
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-info waves-effect waves-light">Guardar cambios</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal -->
                        
<div id="con-close-file" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Actualizar foto </h4>
            </div>
            <div class="modal-body">

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-info waves-effect waves-light">Guardar cambios</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->
                        
<div id="con-close-celebracion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Agregar celebración </h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">Titulo de la celebración</label>
                                    <input type="text" class="form-control" id="field-1" ng-model="celebracion.nombre">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">Lugar</label>
                                    <input type="text" class="form-control" id="field-4">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                  <label class="control-label col-sm-4">Fecha del evento</label>
                                      <div class="col-sm-8">
                                         <div class="input-group">
                                            <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                                            <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
                                         </div><!-- input-group -->
                                      </div>
                               </div>
                            </div>
                            <div class="col-md-6">
                                  <label class="control-label col-sm-4">Hora</label>
                                <div class="input-group m-b-0">
                                    <div class="bootstrap-timepicker">
                                        <input id="timepicker3" type="text" class="form-control">
                                    </div>
                                    <span class="input-group-addon bg-primary b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                </div><!-- input-group -->


                            </div>


                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-info waves-effect waves-light">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal -->


                        
        <div class="row">
                            <div class="col-sm-8">
                                <div class="bg-picture card-box">
                                    <div class="profile-info-name">
                                        <img src="assets/images/profile.jpg"
                                             class="img-thumbnail" alt="profile-image">
                                            
                                             
                                        <div class="profile-info-detail">
                                            <h3 class="m-t-0 m-b-0">Nombre del finado</h3>
                                            <span class="label label-danger"> Finalizado </span>
                                            <span class="label label-info"> SALA A </span>
                                            <span class="label label-success"> Cremación </span>
                                            <hr> 
                                            
                                            <button class="btn btn-default waves-effect m-b-5"> <i class="fa fa-remove m-r-5"></i> <span>Eliminar</span> </button>
                                            <button class="btn btn-default waves-effect m-b-5 btn-warning" data-toggle="modal" data-target="#con-close-modal"> <i class="fa fa-wrench m-r-5"></i> <span>Editar</span> </button>
                                            <button class="btn btn-default waves-effect m-b-5 btn-success" data-toggle="modal" data-target="#con-close-file"> <i class="fa fa-camera m-r-5"></i> <span>Actualizar foto</span> </button>
                                            
                                            
                                            <hr> 
                                                                        
                                            <ul class="list-group m-b-0 user-list team-list">
                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-muted"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Registro del servicio</span>
                                                    <span class="desc">February 29, 2016 - 10:30am</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-muted"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Fecha en que finaliza el servicio</span>
                                                    <span class="desc">February 29, 2016 - 12:45pm</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-muted"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Dirección de velación</span>
                                                    <span class="desc">Av. 8 #503. </span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-muted"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Email familiar</span>
                                                    <span class="desc">fjpn_10@outlook.com</span>
                                                </div>
                                            </a>
                                        </li>

                                        
                                    </ul>
                                                                                        
                                        </div>
                                        
                                        
                                        <div class="clearfix"></div>
                                        
                                        
                                    </div>
                                </div>
                                <!--/ meta -->


                            </div>

                            <div class="col-sm-4">
                                

                                <div class="card-box">
                                    
                                    
                        			<h4 class="header-title m-t-0 m-b-30"><i class="zmdi zmdi-notifications-none m-r-5"></i> Opciones </h4>
                                    
                                    
                                    <button class="btn btn-default waves-effect m-b-5" data-toggle="modal" data-target="#con-close-celebracion"> <i class="fa fa-plus m-r-5"></i> <span>Agregar celebración</span> </button>
                                    <button class="btn btn-warning waves-effect m-b-5" data-toggle="modal" data-target="#con-close-celebracion"> <i class="fa fa-plus m-r-5"></i> <span>Finalizar servicio</span> </button>
                                    
                                    <hr>


                        			<h4 class="header-title m-t-0 m-b-30"><i class="zmdi zmdi-notifications-none m-r-5"></i> Celebraciones </h4>

                                    <ul class="list-group m-b-0 user-list team-list">
                                        <li class="list-group-item">
                                            <a href="#" class="user-list-item">
                                                <div class="avatar text-center">
                                                    <i class="zmdi zmdi-circle text-primary"></i>
                                                </div>
                                                <div class="user-desc">
                                                    <span class="name">Misa de cuerpo presente</span>
                                                    <span class="desc">February 29, 2016 - 10:30am to 12:45pm</span>
                                                    <span class="desc">Iglesia de San José</span>
                                                </div>
                                            </a>
                                        </li>

                                        
                                    </ul>

                                </div>

                            </div>
                        </div>