<div class="row">
                            <div class="col-md-3">
                                <div class="col-lg-12">
                        
                                <div class="portlet card-draggable ui-sortable-handle">
                                 <div class="portlet-heading bg-purple">
                                    <h3 class="portlet-title">Servicios actuales</h3>
                                     <div class="portlet-widgets">
                                         <a href="javascript:;" data-toggle="reload"><i class="zmdi zmdi-refresh"></i></a>
                                         <a data-toggle="collapse" data-parent="#accordion1" href="#bg-default"><i class="zmdi zmdi-minus"></i></a>
                                     </div>
                                     <div class="clearfix"></div>
                                 </div>
                                 <div id="bg-default" class="panel-collapse collapse">
                                     <div class="portlet-body">
                                         <center><h3><black> 4 </black>
                                            Locales</h3></center>
                                         <center><h3><black> 9 </black>
                                            Foraneos</h3></center>
                                     </div>
                                 </div>
                             </div>
                        
                        </div>
                    
                        <div class="row">
                        
                        <div class="col-md-12">
                            <div class="portlet card-draggable ui-sortable-handle">
                                     <div class="panel panel-border panel-info card-draggable ui-sortable-handle">
                                    <div class="panel-body">
                                        <center>
                                        <button class="btn btn-primary waves-effect waves-light btn-lg m-b-5">
                                            <i class="fa fa-users fa-2x"></i> Nuevo finado</button>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-md-12">
                            <div class="portlet card-draggable ui-sortable-handle">
                                     <div class="panel panel-border panel-info card-draggable ui-sortable-handle">
                                    <div class="panel-body">
                                        <center>
                                        <button class="btn btn-primary waves-effect waves-light btn-lg m-b-5">
                                            <i class="fa fa-television fa-2x"></i> Ver pantallas</button>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-md-12">
                            <div class="portlet card-draggable ui-sortable-handle">
                                     <div class="panel panel-border panel-info card-draggable ui-sortable-handle">
                                    <div class="panel-body">
                                        <center>
                                        <button class="btn btn-primary waves-effect waves-light btn-lg m-b-5">
                                            <i class="fa fa-users fa-2x"></i> Nuevo icono</button>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-md-12">
                            <div class="portlet card-draggable ui-sortable-handle">
                                     <div class="panel panel-border panel-info card-draggable ui-sortable-handle">
                                    <div class="panel-body">
                                        <center>
                                        <button class="btn btn-primary waves-effect waves-light btn-lg m-b-5">
                                            <i class="fa fa-calendar fa-2x"></i> Nuevo evento</button>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    
                </div>
                            
                            <div class="col-md-9">
                            	
                                <div class="card-box">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>

                        			<h4 class="header-title m-t-0 m-b-30">Servicios actuales</h4>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre del finado</th>
                                                <th>Tipo de servicio</th>
                                                <th>Lugar de Velación</th>
                                                <th>Fecha de finalización</th>
                                                <th>Estado</th>
                                                <th>Opciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Juan Pérez Leon</td>
                                                    <td>Cremación</td>
                                                    <td>Sala A</td>
                                                    <td>10/10/16</td>
                                                    <td><span class="label label-success">Released</span></td>
                                                    <th>Ver | Editar | Eliminar</th>
                                                </tr>
                                                

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- end col -->

                        </div>