<!-- Modal to Add new service -->

<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title">Registro de nuevo servicio</h4>
                                                </div>
                                                <div class="modal-body">
                                                    
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="field-1" class="control-label">Nombre del finado</label>
                                                                <input type="text" class="form-control" id="field-1" ng-model="finado.nombre">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="field-2" class="control-label">Tipo de servicio</label>
	                                                               <select class="form-control">
	                                                                   <option>Cremación</option>
	                                                                   <option>Inhumación</option>
	                                                               </select>
	                                                        </div>
                                                       </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="field-3" class="control-label">Lugar de velación</label>
                                                                <select class="form-control">
	                                                                   <option>Sala A</option>
	                                                                   <option>Sala B</option>
	                                                                   <option>Sala C</option>
	                                                                   <option>Domicilio externo</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="row">
                                                        
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="field-4" class="control-label">Dirección</label>
                                                                <input type="text" class="form-control" id="field-4">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="field-4" class="control-label">Religión</label>
                                                                <select class="form-control">
	                                                                   <option>Católico</option>
	                                                                   <option>Cristiano</option>
	                                                                   <option>Judio</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
			                                			      <label class="control-label col-sm-4">Fecha de finalización</label>
			                                			          <div class="col-sm-8">
			                                				         <div class="input-group">
																        <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
																        <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
															         </div><!-- input-group -->
			                                			          </div>
			                                		       </div>
                                                        </div>
                                                        <div class="col-md-6">
			                                			      <label class="control-label col-sm-4">Hora</label>
                                                            <div class="input-group m-b-0">
                                                                <div class="bootstrap-timepicker">
                                                                    <input id="timepicker3" type="text" class="form-control">
                                                                </div>
                                                                <span class="input-group-addon bg-primary b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                                            </div><!-- input-group -->

                                                        
                                                        </div>
                                                        
                                                        <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <label for="field-4" class="control-label">Correo electrónico</label>
                                                                <input type="text" class="form-control" id="field-4">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                                <label for="field-4" class="control-label">Clave interna</label>
                                                                <input type="text" class="form-control" id="field-4">
                                                        </div>
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-info waves-effect waves-light">Guardar cambios</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal -->



<div class="row">
                            <div class="col-md-3">
                                
                    
                        <div class="row">
                        
                            
                            
                        <div class="col-md-12">
                            <div class="portlet card-draggable ui-sortable-handle">
                                     <div class="panel panel-border panel-info card-draggable ui-sortable-handle">
                                    <div class="panel-body">
                                        <center>
                                        <button class="btn btn-primary waves-effect waves-light btn-lg m-b-5" data-toggle="modal" data-target="#con-close-modal">
                                            <i class="fa fa-users fa-2x"></i> Nuevo finado</button>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                            
                        <div class="col-md-12">
                            <div class="portlet card-draggable ui-sortable-handle">
                                     <div class="panel panel-border panel-info card-draggable ui-sortable-handle">
                                    <div class="panel-body">
                                        <center>
                                        <button class="btn btn-primary waves-effect waves-light btn-lg m-b-5">
                                            <i class="fa fa-users fa-2x"></i> Nuevo icono</button>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                    
                    </div>
                    
                </div>
                            
                            <div class="col-md-9">
                            	
                                <div class="card-box">
                                    
                        			<h4 class="header-title m-t-0 m-b-30">Servicios actuales</h4>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre del finado</th>
                                                <th>Tipo de servicio</th>
                                                <th>Lugar de Velación</th>
                                                <th>Fecha de finalización</th>
                                                <th>Estado</th>
                                                <th>Opciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Juan Pérez Leon</td>
                                                    <td>Cremación</td>
                                                    <td>Sala A</td>
                                                    <td>10/10/16</td>
                                                    <td><span class="label label-success">Released</span></td>
                                                    <th>Ver | Editar | Eliminar</th>
                                                </tr>
                                                

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- end col -->

                        </div>