html, body{margin:0;padding:0;outline:0;display:block;font-family:'Roboto', sans-serif;font-size:15px;background-color:#f5f5f5;color:#616161;-webkit-font-smoothing:subpixel-antialiased;-webkit-text-stroke:1px transparent;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-overflow-scrolling:touch;}
.section{position:relative;padding-top:15px;padding-bottom:30px;}
.section .section-title{margin-bottom:18px;}
.section .section-title .title-icon{margin-right:20px;color:#72C4B9;}
.section .section-title .title-icon{margin-right:20px;color:#72C4B9;}
.section .section-title img{width:66px;padding:10px;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);margin:-2px 12px 12px 12px;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;-webkit-backface-visibility:hidden;}
@media (min-width:768px){.container{width:750px;}
}
@media (min-width:992px){.container{width:970px;}
}
@media (min-width:1200px){.container{width:1000px;}
}
h1, h2, h3, h4, h5, h6, span{font-family:'Raleway', sans-serif;}
h4{font-size:2.18rem;line-height:110%;margin:1.14rem 0 0.912rem 0;}
p, a, li, label, input, blockquote, cite, div{font-family:'Muli', sans-serif;}
p{color:#757575;}
a{color:#1976D2;}
a:hover{color:#2988e6;text-decoration:none;}
a:focus{color:#12579b;text-decoration:none;}
h1{font-weight:700;}
h2, h3, h4{font-weight:600;}
h5, h6{font-weight:500;}
p, a, li{font-weight:400;}
h6{font-size:1.4em;}
.is-hidden{visibility:hidden;}
.btn{padding-top:8px;}
.social{z-index:0 !important;}
video{border:3px solid black;}
.black{background-color:black !important;}
.hide-overflow{overflow:hidden !important;}
.toast{background-color:#1976D2;}
.card{position:relative;background-color:#fff;transition:box-shadow .25s;-webkit-transition:box-shadow .25s;border-radius:0 !important;margin:8px 0;}
.card .card-content{padding:40px;border-radius:0 0 2px 2px;}
.card .card-content p{margin:0;color:inherit;text-align:center;}
.modal{padding-right:0 !important;padding-left:0 !important;}
.modal .modal-content{border-radius:0 !important;background-color:#fff;color:#616161;}
.modal .modal-content .modal-body{position:relative;padding:0 40px;text-align:justify;}
.modal .modal-content .modal-body img{padding-top:10px;padding-bottom:10px;}
.modal .modal-content .modal-header{padding:15px;border-bottom:0;}
.modal .modal-content .modal-header .close:focus, .modal .modal-content .modal-header .close:hover{color:#1976D2;opacity:1;}
.modal .modal-content .modal-footer{border:0 !important;}
.modal .modal-content .btn-default{border-radius:0;background-color:#1976D2;color:#fff;border-color:#1976D2;}
.modal .modal-content .btn-default:hover, .modal .modal-content .btn-default:focus{color:#fff;background-color:#1976D2;border-color:#1976D2;border-radius:0;}
body.scale-effect{opacity:1;transform:none;-webkit-transform:none;pointer-events:all;}
body.scale-effect .icon-close{opacity:1;transform:none;-webkit-transform:none;pointer-events:all;}
body.scale-effect .btn-holder #icon-play{opacity:0;}
body.scale-effect .btn-holder .btn-play{transform:scale(28);-webkit-transform:scale(28);}
.btn-holder{position:absolute;top:75px;right:346px;cursor:pointer;z-index:3;transition:all .5s;}
.btn-holder .icon-close{transition:0.2s ease-in-out;}
.btn-holder:hover .btn-play{box-shadow:0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);}
.btn-play{box-sizing:border-box;transform-origin:50%;box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);transition:all 0.7s cubic-bezier(0.4, 0, 0.2, 1);background-color:#1976D2;overflow:hidden;}
.btn-play:hover{background-color:#1976D2;}
.btn-play i{font-size:35px;color:#fff;}
.icon-close{position:absolute;top:15px;right:15px;color:#fff;opacity:0;-webkit-transform:translate(10px, 0) rotate(90deg);transform:translate(10px, 0) rotate(90deg);transition:all 0.3s ease-in-out;z-index:5;background:rgba(41, 40, 40, 0.36) !important;}
.height-change{height:548px !important;margin:-76px 3px 0 0px !important;}
.middle{top:170px !important;right:430px !important;}
.video{position:absolute;top:50%;left:50%;z-index:2;width:100%;height:auto;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
@media screen and (max-width:767px){.btn-holder{top:102px;right:0;}
.btn-holder .btn-large{width:36.5px;height:36.5px;}
.btn-holder .btn-large i{line-height:1 !important;font-size:26px !important;}
.middle{top:250px !important;right:50px !important;}
}
@media screen and (max-width:660px){.height-change{height:440px !important;margin:-76px 3px 0 0px !important;}
}
@media screen and (max-width:500px){.height-change{height:300px !important;margin:-21px 3px 0 0px !important;}
}
@media screen and (min-width:769px) and (max-width:991px){.middle{top:170px !important;right:340px !important;}
}
#loading{background-color:#72C4B9;height:100%;width:100%;position:fixed;z-index:5001;margin-top:0;top:0;}
#loading #loading-center{width:100%;height:100%;position:relative;}
#loading #loading-center-absolute{position:absolute;left:50%;top:50%;height:200px;width:271px;margin-top:-123px;margin-left:-136px;}
#loading .text-holder{width:100%;position:absolute;color:#fff;top:62%;}
#loading .text-holder h2{padding:0;margin:0;text-shadow:2px 2px 4px rgba(0, 0, 0, 0.29);}
#loading .text-holder h6{font-size:16px;padding:0;margin:0;text-shadow:2px 2px 4px rgba(0, 0, 0, 0.29);}
#loading .box-holder{position:absolute;top:42%;left:45%;}
#loading .box-holder .load-box{display:inline-block;width:30px;height:30px;position:relative;border:4px solid #fff;top:50%;animation:loader 2s infinite ease;-webkit-animation:loader 2s infinite ease;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
#loading .box-holder .load-box .box-inner{vertical-align:top;display:inline-block;width:100%;background-color:#1976D2;animation:loader-inner 2s infinite ease-in;-webkit-animation:loader-inner 2s infinite ease-in;}
@-webkit-keyframes loader{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
25%{transform:rotate(180deg);-webkit-transform:rotate(180deg);}
50%{transform:rotate(180deg);-webkit-transform:rotate(180deg);}
75%{transform:rotate(360deg);-webkit-transform:rotate(360deg);}
100%{transform:rotate(360deg);-webkit-transform:rotate(360deg);}
}
@keyframes loader{0%{transform:rotate(0deg);-webkit-transform:rotate(0deg);}
25%{transform:rotate(180deg);-webkit-transform:rotate(180deg);}
50%{transform:rotate(180deg);-webkit-transform:rotate(180deg);}
75%{transform:rotate(360deg);-webkit-transform:rotate(360deg);}
100%{transform:rotate(360deg);-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes loader-inner{0%{height:0;}
25%{height:0;}
50%{height:100%;}
75%{height:100%;}
100%{height:0;}
}
@keyframes loader-inner{0%{height:0;}
25%{height:0;}
50%{height:100%;}
75%{height:100%;}
100%{height:0;}
}
#home .menu{position:fixed;left:-225px;width:225px;height:100%;top:0;z-index:10;text-align:left;background:#72C4B9;}
#home .menu a{margin-left:30px;margin-right:30px;color:#616161;display:block;font-size:12px;font-weight:700;line-height:40px;letter-spacing:.1em;text-transform:uppercase;}
#home .menu a:hover{color:#1976D2;}
#home .menu a:active{color:#1976D2;}
#home .menu i{padding:7px;}
#home .menu .menu-wrap{position:absolute;top:0;left:0;background:#f5f5f5;width:225px;height:100%;overflow-y:auto;padding-top:14px;}
#home .menu .logo-flat{height:200px;margin-top:-14px;background:#72C4B9;}
#home .menu .logo-flat img{width:100%;padding:30px 44px 44px 44px;}
#home .menu-open{left:0;}
#home .body-push{overflow-x:hidden;position:relative;right:0;}
#home .body-push-toright{right:225px;}
#home .body-push-toleft{right:225px;}
#home .menu, #home .body-push{transition:all .3s ease;}
#home #menuToggle{position:absolute;top:20px;right:-65px;z-index:11;display:block;text-align:center;font-size:14px;width:40px;height:40px;line-height:40px;cursor:pointer;border:1px solid rgba(93, 92, 92, 0.52);background:rgba(0, 0, 0, 0.06);transition:all .5s ease-in-out;}
#home #menuToggle:hover{background:rgba(0, 0, 0, 0.3);transition:all .5s ease-in-out;}
#home #menuToggle .toggle-normal{font-size:31px;}
#home #menuToggle .toggle-normal i{font-size:31px;padding:4px;color:#1976D2;}
#home #menuToggle .toggle-normal .top-bar{position:absolute;right:0;top:-6px;transition:.8s;}
#home #menuToggle .toggle-normal .middle-bar{position:absolute;right:0;top:0;opacity:1;transition:.8s;}
#home #menuToggle .toggle-normal .bottom-bar{position:absolute;right:0;top:6px;-webkit-transform:rotate(0deg);transform:rotate(0deg);transition:.8s;}
#home #menuToggle .top-transform{-webkit-transform:rotate(45deg) !important;transform:rotate(45deg) !important;-webkit-transform-origin:34% 56%;transform-origin:34% 56%;}
#home #menuToggle .middle-transform{opacity:0 !important;}
#home #menuToggle .bottom-transform{-webkit-transform:rotate(-45deg) !important;transform:rotate(-45deg) !important;-webkit-transform-origin:28% 43%;transform-origin:28% 43%;}
#home .header-background{position:relative;display:block;width:100%;height:370px;background:url(../images/backgrounds/background.jpg) no-repeat;background-size:cover;background-position:center center;background-attachment:fixed;}
#v-card-holder{overflow:visible;width:100%;height:auto;margin-top:-194px;}
#v-card-holder #v-card{position:relative;width:100%;height:400px;overflow:hidden;-webkit-transition:height 1s, color 1s, margin 1s;transition:height 1s, color 1s, margin 1s;z-index:1;background:#72C4B9;margin:-33px 3px 0 0;}
#v-card-holder #v-card .info-headings{max-width:514px;}
#v-card-holder #v-card .info-headings h4{display:block;width:100%;font-weight:900;color:#fff;text-shadow:2px 2px 4px rgba(0, 0, 0, 0.29);}
#v-card-holder #v-card .info-headings h6{display:block;width:100%;font-weight:300;margin-top:-10px;margin-bottom:30px;font-size:1.2em;color:#fff;text-shadow:2px 2px 4px rgba(0, 0, 0, 0.29);}
#v-card-holder #v-card .infos{max-width:515px;margin-top:99px;}
#v-card-holder #v-card .infos .profile-list{}
#v-card-holder #v-card .infos .profile-list .title{display:block;float:left;color:#fff;line-height:26px;}
#v-card-holder #v-card .infos .profile-list .title i{font-size:23px;}
#v-card-holder #v-card .infos .profile-list .title .fa{padding-left:2px;}
#v-card-holder #v-card .infos .profile-list .content{display:block;margin-left:30px;font-size:15px;font-weight:400;line-height:20px;color:#fff;}
#v-card-holder #v-card .links{max-width:500px;margin-left:-12px;margin-top:12px;height:100%;}
#v-card-holder #v-card .links .social{margin-left:12px;margin-bottom:4px;}
#v-card-holder #v-card .links .social i{font-size:15px;vertical-align:middle;padding-bottom:15px;}
@media screen and (max-width:400px){#v-card-holder #v-card .links .social{margin:4px;}
}
@media screen and (max-width:295px){#v-card-holder #v-card .links .social{margin:1px;}
}
@media screen and (max-width:990px){#v-card-holder #v-card .infos{max-width:278px;}
#v-card-holder #v-card .links{max-width:325px;}
#v-card-holder #v-card .info-headings{max-width:270px;}
}
#v-card-holder #v-card #profile{position:absolute;right:0;z-index:1;}
#v-card-holder #v-card #profile img{width:400px;height:auto;}
#v-card-holder #v-card #profile .slant{top:0;z-index:1;position:absolute;border-style:solid;border-width:400px 0 0 100px;border-color:rgba(223, 50, 50, 0) transparent transparent #72C4B9;}
#v-card-holder #v-card #profile .add-btn{position:absolute;background-color:#1976D2;top:20%;right:86%;overflow:hidden;}
#v-card-holder #v-card #profile .add-btn i{font-size:35px;color:#fff;}
@media screen and (max-width:767px){#v-card-holder #v-card{position:relative;width:100%;overflow:visible;z-index:1;top:34px;}
#v-card-holder #v-card #profile{position:absolute;bottom:85%;left:0;width:150px;height:auto;margin-right:auto;margin-left:auto;z-index:1;background-color:transparent;}
#v-card-holder #v-card #profile img{width:150px;height:150px;border-radius:50%;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
#v-card-holder #v-card #profile .slant{display:none;opacity:0;overflow:hidden;}
#v-card-holder #v-card #profile .add-btn{display:none;}
#v-card-holder #v-card .social{top:0;margin-left:5px;margin-bottom:4px;}
#v-card-holder #v-card .infos{display:table;margin:0 auto;max-width:100%;padding:0;}
#v-card-holder #v-card .links{display:table;max-width:100%;padding:0;margin:0 auto 9px;}
#v-card-holder #v-card .links #first_one{margin-left:0;}
#v-card-holder #v-card .info-headings{max-width:100%;text-align:center;margin-top:38px;}
#v-card-holder #v-card .info-headings h6{margin-bottom:20px;}
#v-card-holder #v-card .card-content{padding:10px;}
}
#about{transition:all 1s;}
#about .about-btn{height:auto;margin-right:auto;margin-left:auto;animation-delay:1s;text-align:center;}
#about .about-btn .btn{margin:7px 7px;background:#72C4B9;color:#fff;width:180px;border-radius:2px;}
#about .about-btn .btn:hover{background:#05985a;}
#timeline-education{position:relative;}
#timeline-education:before{content:'';position:absolute;top:0;bottom:23px;left:50%;height:99.5%;width:4px;opacity:0.3;background:#72C4B9;}
#timeline-experience{position:relative;}
#timeline-experience::before{content:'';position:absolute;top:0;bottom:23px;left:50%;height:99.5%;width:4px;opacity:0.3;background:#72C4B9;}
.timeline-block{position:relative;}
.timeline-block::after{clear:both;content:"";display:table;}
.timeline-block:first-child{margin-top:0;}
.timeline-block:last-child{margin-bottom:0;}
.timeline-block .card-content{padding:20px;}
.timeline-block .card-content p{margin-top:13px;text-align:left;}
.timeline-block .card-content .modal-dot{outline:0;font-size:20px;}
.timeline-block .card-content .modal-dot:hover, .timeline-block .card-content .modal-dot:focus{color:#12579b;}
.timeline-block .timeline-dot{background:#72C4B9;width:50px;height:50px;border-radius:100%;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);z-index:2;color:#fff;text-align:center;position:absolute;top:5px;right:2%;}
.timeline-block .timeline-dot i{text-align:center;font-size:24px;margin-top:26%;text-shadow:2px 2px 4px rgba(0, 0, 0, 0.29);}
.timeline-block .timeline-dot h6{padding:0;font-size:30px;font-weight:bold;margin-top:8px;text-shadow:2px 2px 4px rgba(0, 0, 0, 0.29);}
.timeline-block .timeline-content{position:relative;background:#fff;margin-right:0;z-index:1;margin-bottom:5px;border-left:5px solid #1976D2;}
.timeline-block .timeline-content::before{content:'';width:58px;height:4px;position:absolute;top:26px;left:100%;z-index:-2;opacity:0.4;background:#72C4B9;}
.timeline-block .timeline-content::after{clear:both;content:"";display:table;}
.timeline-block .timeline-content .timeline-title{max-width:84%;font-weight:normal;}
.timeline-block .timeline-content .timeline-info{}
.timeline-block .timeline-content .timeline-info h6{line-height:12px;}
.timeline-block .timeline-content .timeline-info h6 small{color:inherit;}
@media screen and (max-width:768px){.timeline-block .timeline-content:before{display:none;}
}
@media only screen and (min-width:768px){#timeline-education::before{left:50%;margin-left:-2px;height:77.1%;opacity:0.4;background:#72C4B9;}
#timeline-experience::before{left:50%;margin-left:-2px;height:69.1%;opacity:0.4;background:#72C4B9;}
.timeline-block{margin:-5em 0;}
.timeline-block .card{margin:0;}
.timeline-block .timeline-dot{width:50px;height:50px;left:50%;top:0;z-index:2;margin-left:-24px;-webkit-transform:translateZ(0);-webkit-backface-visibility:hidden;}
.timeline-block .timeline-content{width:44%;}
.timeline-block .timeline-content .timeline-title{max-width:100%;}
.timeline-block:nth-child(even) .timeline-content{float:right;}
.timeline-block:nth-child(even) .timeline-content::before{top:25px;left:auto;right:101.2%;z-index:-2;}
}
#skills .card{background:#72C4B9;}
#skills .card .skills-title{margin:15px 0;}
#skills .card .skills-title h6{color:#fff;text-shadow:2px 2px 4px rgba(0, 0, 0, 0.29);}
#skills .card .skillbar{position:relative;display:block;margin-bottom:17px;margin-top:45px;width:100%;padding:0 0;background:#05985a;height:4px;-webkit-transition:0.4s linear;transition:0.4s linear;-webkit-transition-property:width, background-color;transition-property:width, background-color;}
#skills .card .skillbar .skillbar-title{position:absolute;top:0;left:0;font-size:1em;}
#skills .card .skillbar .skillbar-title span{display:block;padding:3px 0;margin-top:-25px;line-height:15px;color:#fff;}
#skills .card .skillbar .skillbar-bar{height:4px;width:0;background:#fff;}
#skills .card .skillbar .skill-bar-percent{position:absolute;right:1px;top:-20px;font-size:.8em;line-height:15px;color:#fff;}
#portfolios #portfolios-card{overflow:hidden;}
#portfolios #portfolios-card .nav-tabs{border-bottom:0;text-align:center;margin-bottom:10px;}
#portfolios #portfolios-card .nav-tabs li{float:none;margin:0;position:relative;display:inline-block;}
#portfolios #portfolios-card .nav-tabs li a{margin-right:0;border:0;color:#555555;}
#portfolios #portfolios-card .nav-tabs > li.active > a, #portfolios #portfolios-card .nav-tabs > li.active > a:hover, #portfolios #portfolios-card .nav-tabs > li.active > a:focus{border:0;border-bottom:5px solid #1976D2;background-color:transparent;}
#portfolios #portfolios-card .tab-content{margin:0 10px;}
#portfolios #portfolios-card .tab-content .grid figure figcaption, #portfolios #portfolios-card .tab-content .grid figure figcaption > a{position:absolute;top:0;left:0;width:100%;height:100%;}
#portfolios #portfolios-card .tab-content figure.port-effect-up:hover figcaption::before, #portfolios #portfolios-card .tab-content figure.port-effect-up:hover p{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
@media screen and (max-width:747px){#portfolios #portfolios-card .tab-content .big{}
}
@media (min-width:992px){#portfolios #portfolios-card .tab-content .big{width:66.6%;}
}
#portfolios #portfolios-card .tab-content .grid{position:relative;margin:0 auto;padding:5px 7px 7px 5px;list-style:none;text-align:center;}
#portfolios #portfolios-card .tab-content .grid figure{position:relative;float:left;margin:0;width:100%;background:transparent;text-align:center;cursor:pointer;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);overflow:hidden !important;padding:2px !important;}
#portfolios #portfolios-card .tab-content .grid figure img{position:relative;display:block;width:100%;opacity:0.8;}
#portfolios #portfolios-card .tab-content .grid figure figcaption{padding:2em;color:#fff;text-transform:uppercase;font-size:1.25em;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
#portfolios #portfolios-card .tab-content .grid figure figcaption > a{z-index:1000;text-indent:200%;white-space:nowrap;font-size:0;opacity:0;}
#portfolios #portfolios-card .tab-content .grid figure figcaption::before{pointer-events:none;}
#portfolios #portfolios-card .tab-content .grid figure figcaption::after{pointer-events:none;}
#portfolios #portfolios-card .tab-content .grid figure h2{word-spacing:-0.15em;font-weight:300;font-size:18px;margin:0;}
#portfolios #portfolios-card .tab-content .grid figure h2 span{font-weight:800;}
#portfolios #portfolios-card .tab-content .grid figure h2 i{display:block;padding:9px;margin-top:24px;font-size:48px;}
#portfolios #portfolios-card .tab-content .grid figure p{margin:0;letter-spacing:1px;font-size:56.5%;}
@media screen and (min-width:540px) and (max-width:766px){#portfolios #portfolios-card .tab-content .grid{max-width:50%;}
}
#portfolios #portfolios-card .tab-content figure.port-effect-up{}
#portfolios #portfolios-card .tab-content figure.port-effect-up figcaption::before{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);content:'';opacity:0;-webkit-transform:translate3d(0, 50%, 0);transform:translate3d(0, 50%, 0);-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;}
#portfolios #portfolios-card .tab-content figure.port-effect-up h2{position:absolute;top:55%;left:0;width:100%;color:rgba(72, 76, 97, 0.22);-webkit-transition:-webkit-transform 0.35s, color 0.35s;transition:transform 0.35s, color 0.35s;-webkit-transform:translate3d(0, -50%, 0);transform:translate3d(0, -50%, 0);}
#portfolios #portfolios-card .tab-content figure.port-effect-up p{-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;position:absolute;bottom:0;left:0;padding:2em;width:100%;opacity:0;-webkit-transform:translate3d(0, 10px, 0);transform:translate3d(0, 10px, 0);color:#fff;}
#portfolios #portfolios-card .tab-content figure.port-effect-up:hover{}
#portfolios #portfolios-card .tab-content figure.port-effect-up:hover h2{color:#1976D2;-webkit-transform:translate3d(0, -50%, 0) translate3d(0, -40px, 0);transform:translate3d(0, -50%, 0) translate3d(0, -40px, 0);}
#portfolios #portfolios-card .tab-content figure.port-effect-scale{}
#portfolios #portfolios-card .tab-content figure.port-effect-scale img{-webkit-transition:opacity 0.60s, -webkit-transform 0.60s;transition:opacity 0.60s, transform 0.60s;}
#portfolios #portfolios-card .tab-content figure.port-effect-scale figcaption{-webkit-transition:background-color 0.60s;transition:background-color 0.60s;}
#portfolios #portfolios-card .tab-content figure.port-effect-scale figcaption::before{background:rgba(0, 0, 0, 0.7);position:absolute;top:-1px;right:-1px;background:rgba(0, 0, 0, 0.7);bottom:-1px;left:-1px;content:'';opacity:0;-webkit-transition:opacity 0.60s, -webkit-transform 0.60s;transition:opacity 0.60s, transform 0.60s;}
#portfolios #portfolios-card .tab-content figure.port-effect-scale h2{position:absolute;top:55%;left:0;width:100%;color:rgba(72, 76, 97, 0.22);-webkit-transition:-webkit-transform 0.35s, color 0.35s;transition:transform 0.35s, color 0.35s;-webkit-transform:translate3d(0, -50%, 0);transform:translate3d(0, -50%, 0);}
#portfolios #portfolios-card .tab-content figure.port-effect-scale p{position:absolute;bottom:0;left:0;padding:2em;width:100%;opacity:0;color:#fff;-webkit-transition:opacity 0.60s, -webkit-transform 0.60s;transition:opacity 0.60s, transform 0.60s;-webkit-transform:scale(0);transform:scale(0);}
#portfolios #portfolios-card .tab-content figure.port-effect-scale:hover{}
#portfolios #portfolios-card .tab-content figure.port-effect-scale:hover h2{color:#1976D2;-webkit-transform:translate3d(0, -50%, 0) translate3d(0, -40px, 0);transform:translate3d(0, -50%, 0) translate3d(0, -40px, 0);opacity:1;}
#portfolios #portfolios-card .tab-content figure.port-effect-scale:hover figcaption::before{opacity:1;background:rgba(0, 0, 0, 0.7);}
#portfolios #portfolios-card .tab-content figure.port-effect-scale:hover p{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
#portfolios #portfolios-card .tab-content figure.port-effect-scale:hover img{-webkit-transform:scale(1.2);transform:scale(1.2);}
#portfolios .btn-large{color:#1976D2 !important;background:#f5f5f5 !important;margin-bottom:10px !important;}
@keyframes InLeft{from{-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);visibility:visible;}
to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
}
@-webkit-keyframes InLeft{from{-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);visibility:visible;}
to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
}
#portfolios .InLeft{-webkit-animation-name:InLeft;animation-name:InLeft;-webkit-animation-duration:.8s;animation-duration:.8s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
@-webkit-keyframes InRight{from{-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);visibility:visible;}
to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
}
@keyframes InRight{from{-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);visibility:visible;}
to{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
}
#portfolios .InRight{-webkit-animation-name:InRight;animation-name:InRight;-webkit-animation-duration:.8s;animation-duration:.8s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.mfp-zoom-in{}
.mfp-zoom-in .mfp-with-anim{opacity:0;transition:all 0.2s ease-in-out;transform:scale(0.8);}
.mfp-zoom-in.mfp-bg{opacity:0;transition:all 0.3s ease-out;}
.mfp-zoom-in.mfp-ready .mfp-with-anim{opacity:1;transform:scale(1);}
.mfp-zoom-in.mfp-ready.mfp-bg{opacity:0.8;}
.mfp-zoom-in.mfp-removing .mfp-with-anim{transform:scale(0.8);opacity:0;}
.mfp-zoom-in.mfp-removing.mfp-bg{opacity:0;}
.mfp-newspaper{}
.mfp-newspaper .mfp-with-anim{opacity:0;-webkit-transition:all 0.2s ease-in-out;transition:all 0.5s;transform:scale(0) rotate(500deg);}
.mfp-newspaper.mfp-bg{opacity:0;transition:all 0.5s;}
.mfp-newspaper.mfp-ready .mfp-with-anim{opacity:1;transform:scale(1) rotate(0deg);}
.mfp-newspaper.mfp-ready.mfp-bg{opacity:0.8;}
.mfp-newspaper.mfp-removing .mfp-with-anim{transform:scale(0) rotate(500deg);opacity:0;}
.mfp-newspaper.mfp-removing.mfp-bg{opacity:0;}
.mfp-move-horizontal{}
.mfp-move-horizontal .mfp-with-anim{opacity:0;transition:all 0.3s;transform:translateX(-50px);}
.mfp-move-horizontal.mfp-bg{opacity:0;transition:all 0.3s;}
.mfp-move-horizontal.mfp-ready .mfp-with-anim{opacity:1;transform:translateX(0);}
.mfp-move-horizontal.mfp-ready.mfp-bg{opacity:0.8;}
.mfp-move-horizontal.mfp-removing .mfp-with-anim{transform:translateX(50px);opacity:0;}
.mfp-move-horizontal.mfp-removing.mfp-bg{opacity:0;}
.mfp-move-from-top{}
.mfp-move-from-top .mfp-content{vertical-align:top;}
.mfp-move-from-top .mfp-with-anim{opacity:0;transition:all 0.2s;transform:translateY(-100px);}
.mfp-move-from-top.mfp-bg{opacity:0;transition:all 0.2s;}
.mfp-move-from-top.mfp-ready .mfp-with-anim{opacity:1;transform:translateY(0);}
.mfp-move-from-top.mfp-ready.mfp-bg{opacity:0.8;}
.mfp-move-from-top.mfp-removing .mfp-with-anim{transform:translateY(-50px);opacity:0;}
.mfp-move-from-top.mfp-removing.mfp-bg{opacity:0;}
.mfp-3d-unfold{}
.mfp-3d-unfold .mfp-content{perspective:2000px;}
.mfp-3d-unfold .mfp-with-anim{opacity:0;transition:all 0.3s ease-in-out;transform-style:preserve-3d;transform:rotateY(-60deg);}
.mfp-3d-unfold.mfp-bg{opacity:0;transition:all 0.5s;}
.mfp-3d-unfold.mfp-ready .mfp-with-anim{opacity:1;transform:rotateY(0deg);}
.mfp-3d-unfold.mfp-ready.mfp-bg{opacity:0.8;}
.mfp-3d-unfold.mfp-removing .mfp-with-anim{transform:rotateY(60deg);opacity:0;}
.mfp-3d-unfold.mfp-removing.mfp-bg{opacity:0;}
.mfp-zoom-out{}
.mfp-zoom-out .mfp-with-anim{opacity:0;transition:all 0.3s ease-in-out;transform:scale(1.3);}
.mfp-zoom-out.mfp-bg{opacity:0;transition:all 0.3s ease-out;}
.mfp-zoom-out.mfp-ready .mfp-with-anim{opacity:1;transform:scale(1);}
.mfp-zoom-out.mfp-ready.mfp-bg{opacity:0.8;}
.mfp-zoom-out.mfp-removing .mfp-with-anim{transform:scale(1.3);opacity:0;}
.mfp-zoom-out.mfp-removing.mfp-bg{opacity:0;}
@keyframes hinge{0%{transform:rotate(0deg);transform-origin:top left;animation-timing-function:ease-in-out;}
20%, 60%{transform:rotate(80deg);transform-origin:top left;animation-timing-function:ease-in-out;}
40%{transform:rotate(60deg);transform-origin:top left;animation-timing-function:ease-in-out;}
80%{transform:rotate(60deg) translateY(0);opacity:1;transform-origin:top left;animation-timing-function:ease-in-out;}
100%{transform:translateY(700px);opacity:0;}
}
.hinge{animation-duration:1s;animation-name:hinge;}
.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg{opacity:0;transition:opacity .5s ease-out;}
.mfp-with-fade.mfp-ready .mfp-content{opacity:1;}
.mfp-with-fade.mfp-ready.mfp-bg{opacity:0.8;}
.mfp-with-fade.mfp-removing.mfp-bg{opacity:0;}
.mfp-fade.mfp-bg{opacity:0;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.mfp-fade.mfp-bg.mfp-ready{opacity:0.8;}
.mfp-fade.mfp-bg.mfp-removing{opacity:0;}
.mfp-fade.mfp-wrap .mfp-content{opacity:0;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content{opacity:1;}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content{opacity:0;}
#interest .card{padding:0;}
#interest .card .card-content{border-bottom:1px solid rgba(160, 160, 160, 0.2);}
#interest .card .row.no-gutters{margin-right:0;margin-left:0;}
#interest .card .row.no-gutters > [class^="col-"], #interest .card .row.no-gutters > [class*=" col-"]{padding-right:0;padding-left:0;}
#interest .card .box{height:105px;}
#interest .card .box .interest-icon{display:block;color:#fff;background:#72C4B9;height:105px;}
#interest .card .box .interest-icon i{font-size:2.2em;margin-top:29px;}
#interest .card .box .interest-icon span{display:block;}
#interest .card .box .interest-icon-even{display:block;color:#72C4B9;height:105px;margin-right:-1px;}
#interest .card .box .interest-icon-even i{font-size:2.2em;margin-top:29px;}
#interest .card .box .interest-icon-even span{display:block;}
@media screen and (min-width:540px) and (max-width:766px){#interest .card .box{max-width:33.33333333%;}
}
#testimonials #testimonials-card{background:#72C4B9;}
#testimonials #testimonials-card .swiper-pagination .swiper-pagination-bullet{width:12px;height:12px;border-radius:0;border:2px solid #1976D2;}
#testimonials #testimonials-card .swiper-pagination .swiper-pagination-bullet-active{background:#1976D2;opacity:1;}
#testimonials #testimonials-card .client-img{margin-bottom:-45px;margin-top:10px;position:inherit;z-index:2;}
#testimonials #testimonials-card .client-img img{height:130px;width:130px;border-radius:50%;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
#testimonials #testimonials-card blockquote{padding-top:66px;text-align:center;padding-bottom:20px;font-size:15px;color:#fff;border-left:none;}
#testimonials #testimonials-card blockquote::before{content:"\201C";font-family:Georgia, serif;font-weight:bold;color:#1976D2;font-size:2em;line-height:.1em;margin-right:0;vertical-align:-0.3em;}
#testimonials #testimonials-card blockquote cite{display:block;margin:15px 0 0 0;font-style:normal;}
#testimonials #clients{margin-top:20px;display:block;}
#testimonials #clients .clients-wrap{display:block;overflow:hidden;padding:10px 0 0;margin-top:-12px;}
#testimonials #clients .clients-wrap ul{display:block;list-style:none;position:relative;}
#testimonials #clients .clients-wrap ul li{display:block;float:left;position:relative;width:140px;height:55px;line-height:55px;text-align:center;}
#testimonials #clients .clients-wrap ul li img{vertical-align:middle;max-width:100%;max-height:100%;-webkit-transition:all 0.3s linear;transition:all 0.3s linear;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";filter:alpha(opacity=65);opacity:0.65;}
#testimonials #clients .clients-wrap ul li img:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1.0;}
#pricing-table .card{padding:0;transition:0.5s;margin-bottom:8px;}
#pricing-table .card:hover{transform:scale(1.03);-webkit-transform:scale(1.03);box-shadow:0 20px 30px 0 rgba(0, 0, 0, 0.16), 0 10px 15px 0 rgba(0, 0, 0, 0.12);}
#pricing-table .card .pricing-top{width:100%;background:#72C4B9;color:#fff;padding:30px 0 40px 0;text-align:center;}
#pricing-table .card .pricing-top p{margin-bottom:40px;font-size:20px;color:#fff;}
#pricing-table .card .pricing-top p em{font-size:54px;font-style:normal;}
#pricing-table .card .pricing-top p sup{font-size:30px;}
#pricing-table .card .pricing-top span{font-size:14px;text-transform:uppercase;border:2px solid #fff;padding:5px 10px;}
#pricing-table .card .pricing-bottom{margin:15px 0;}
#pricing-table .card .pricing-bottom ul li{list-style:none;padding:0 15px;margin:0 auto;line-height:1.7;}
#pricing-table .card .btn{background:#72C4B9;margin-bottom:5px;color:#fff;border-radius:2px;}
#pricing-table .card .btn:hover{background:#05985a;}
#blog .blog{position:relative;height:21em;}
#blog .blog:after{clear:both;content:'';display:block;}
#blog .blog:before{background:blue;content:'';display:inline-block;height:100%;vertical-align:middle;}
#blog .blog .content{display:inline-block;padding:40px;vertical-align:middle;width:49.3%;}
#blog .blog .content:last-child{margin:0 2px 0 -2px;}
#blog .blog .content h6{margin-bottom:0.5em;margin-top:1em;text-transform:uppercase;}
#blog .blog .content .breadcrumb{padding:0;background:none;font-size:15px;}
#blog .blog .content a{border-bottom:1px solid gainsboro;}
#blog .blog .image{display:inline-block;height:100%;width:50%;overflow:hidden;position:relative;}
#blog .blog .image:hover .image-overlay{opacity:1;z-index:22;}
#blog .blog .image:hover img{transform:scale(1.05);-webkit-transform:scale(1.05);}
#blog .blog .image:hover .comments{bottom:0;}
#blog .blog .image img{display:block;height:100%;width:100%;position:absolute;z-index:1;transition:.5s;-webkit-transition:0.5s;}
#blog .blog .image-overlay{position:absolute;background:rgba(0, 0, 0, 0.3);width:100%;height:100%;opacity:0;transition:.5s;}
#blog .blog .image-overlay .comments{font-size:13px;padding:0 12px 8px 14px;position:absolute;right:0;bottom:-20%;z-index:3;color:#fff;transition:.5s;}
#blog .blog .image-overlay .comments i{margin-left:6px;}
#blog .odd{text-align:left;}
#blog .odd .image{float:left;}
#blog .odd .image img{right:0;top:0;}
#blog .even{text-align:right;}
#blog .even .image{float:right;}
#blog .even .image img{left:0;top:0;}
@media screen and (max-width:768px){#blog .blog{display:block;height:auto;}
#blog .blog:last-child{margin-bottom:0;}
#blog .blog .image{height:20em;width:100%;}
#blog .blog .content{text-align:center;width:100%;}
}
#contact .card .card-content{}
#contact .card .card-content .input-field{position:relative;margin-top:1rem;margin-bottom:12px;}
#contact .card .card-content .input-field label{left:0;font-weight:normal;top:0.5rem;}
#contact .card .card-content .btn{background-color:#72C4B9;width:115px;color:#fff;border-radius:2px;margin-top:7px;}
#contact .card .card-content .btn:hover{background:#05985a;}
#contact .card .card-content .thankyou{text-align:center;}
#contact .card .progress{position:relative;height:4px;display:block;width:100%;background-color:#1976D2;border-radius:0;margin:-4px 0 0;}
#contact .card .indeterminate{background-color:#fff;}
#contact #myMap{width:100%;height:417px;}
#contact #myMap .map-label{width:36px;height:36px;border-radius:50% 50% 50% 0;background:#1976D2;position:absolute;-webkit-transform:rotate(-45deg) !important;transform:rotate(-45deg) !important;box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);}
@-moz-document url-prefix(){#contact{}
#contact #myMap{height:412px;}
}
@media screen and (max-width:480px){#contact #myMap{height:300px;}
}
#contact input:not([type]):focus:not([readonly]) + label, #contact input[type=text]:focus:not([readonly]) + label, #contact input[type=password]:focus:not([readonly]) + label, #contact input[type=email]:focus:not([readonly]) + label, #contact input[type=url]:focus:not([readonly]) + label, #contact input[type=time]:focus:not([readonly]) + label, #contact input[type=date]:focus:not([readonly]) + label, #contact input[type=datetime-local]:focus:not([readonly]) + label, #contact input[type=tel]:focus:not([readonly]) + label, #contact input[type=number]:focus:not([readonly]) + label, #contact input[type=search]:focus:not([readonly]) + label, #contact textarea.materialize-textarea:focus:not([readonly]) + label{color:#1976D2;}
#contact input:not([type]):focus:not([readonly]), #contact input[type=text]:focus:not([readonly]), #contact input[type=password]:focus:not([readonly]), #contact input[type=email]:focus:not([readonly]), #contact input[type=url]:focus:not([readonly]), #contact input[type=time]:focus:not([readonly]), #contact input[type=date]:focus:not([readonly]), #contact input[type=datetime-local]:focus:not([readonly]), #contact input[type=tel]:focus:not([readonly]), #contact input[type=number]:focus:not([readonly]), #contact input[type=search]:focus:not([readonly]), #contact textarea.materialize-textarea:focus:not([readonly]){border-bottom:1px solid #1976D2;box-shadow:0 1px 0 0 #1976D2;}
#contact input:not([type]), #contact input[type=text], #contact input[type=password], #contact input[type=email], #contact input[type=url], #contact input[type=time], #contact input[type=date], #contact input[type=datetime-local], #contact input[type=tel], #contact input[type=number], #contact input[type=search], #contact textarea.materialize-textarea{background-color:transparent;border:none;border-bottom:1px solid gainsboro;border-radius:0;outline:none;height:2rem;width:100%;font-size:1rem;margin:6px 0 6px 0;padding:0;box-shadow:none;box-sizing:content-box;transition:all .5s;}
#contact textarea.materialize-textarea{overflow-y:hidden;resize:none;min-height:5rem;}
#scrollup{color:#fff;height:45px;width:45px;cursor:pointer;font-size:28px;background:#1976D2;border:1px solid #1976D2;text-align:center;position:fixed;bottom:21px;right:18px;z-index:5;box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);display:none;transition:.3s;}
footer{width:100%;height:auto;color:#fff;margin-top:-18px;margin-bottom:9px;}
.back-button{height:45px;width:45px;cursor:pointer;font-size:28px;background:#1976D2;border:1px solid #1976D2;text-align:center;position:fixed;top:21px;left:18px;z-index:8;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);transition:.3s;}
.back-button i{color:#fff;padding-right:3px;padding-top:8px;}
.single-background{position:relative;display:block;width:100%;height:370px;background:url(../images/backgrounds/background.jpg) no-repeat;background-size:cover;background-position:center center;background-attachment:fixed;}
.single-page{margin-top:-320px;}
.single-page .section-title{position:relative;color:#fff;}
.single-page .section-title i{color:#72C4B9;padding:12px;}
.single-page .section-title img{width:66px;padding:10px;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);margin:-2px 12px 12px 12px;}
.single-page aside{margin-top:-9px;}
.single-page .post{position:relative;background:#fff;}
.single-page .post .post-image{height:auto;}
.single-page .post .post-image img{max-width:100%;}
.single-page .post .post-image .swiper-container{background:black;}
.single-page .post .post-image .swiper-container .swiper-pagination{}
.single-page .post .post-image .swiper-container .swiper-pagination .swiper-pagination-bullet{width:12px;height:12px;border-radius:0;border:2px solid #1976D2;}
.single-page .post .post-image .swiper-container .swiper-pagination .swiper-pagination-bullet-active{background:#1976D2;opacity:1;}
.single-page .post header{padding:20px;background:#72C4B9;color:#fff;}
.single-page .post header h3{margin:0 0 15px;padding:0 0 15px;}
.single-page .post header time{font-size:14px;float:right;margin-top:10px;}
.single-page .post header h1{margin:0 0 15px;font-size:24px;}
.single-page .post header hr{border-top:3px solid #fff;}
.single-page .post header .post-details{font-size:12px;width:90%;}
.single-page .post .post-body{padding:20px;}
.single-page .post .post-body .client-info{border-left:4px solid #1976D2;padding:0 0 0 6px;}
.single-page .post .post-body .client-info p{margin:0;}
.single-page .disqus-comment{padding:20px;}
.single-page .widget-holder{}
.single-page .widget-holder h4{background:#72C4B9;color:#fff;font-size:24px;padding:15px;}
.single-page .widget-holder .widget{padding:20px;}
.single-page .widget-holder .widget .Media{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;margin-bottom:1em;padding:5px;transition:box-shadow .5s;box-shadow:none;cursor:pointer;}
.single-page .widget-holder .widget .Media .Media-figure{margin-right:1em;width:75px;border-radius:50%;}
.single-page .widget-holder .widget .Media .Media-body{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
.single-page .widget-holder .widget .Media .Media-body .Media-title{margin:0 0 .5em;font-size:18px;}
.single-page .widget-holder .widget .Media .Media-body:last-child{margin-bottom:0;}
.single-page .widget-holder .widget .Media:hover{box-shadow:inset -3px -3px 0px 1px #1976D2;}
.single-page .widget-holder .widget .categories li{display:inline;}
.single-page .widget-holder .widget hr{margin-top:0;margin-bottom:18px;}
.single-page .widget-holder .widget .chip{margin:5px;background-color:#1976D2;color:#fff;}
.single-page .chip{margin:5px;background-color:rgba(0, 0, 0, 0.3);color:#fff;}
.single-page .chip:first-child{margin-left:0;}
.single-page .project-detail p{color:#fff;}
.single-page .project-detail p strong{padding:12px;}
.single-page a{color:#fff;}
hr{border-top:1px solid #fff;}
.single-footer{margin:0;}