/*
Notas:
LAs "cards" tienen las mismas medidas en los siguientes casos:

1-3
4
5-6   
7-9   <---Ejemplo---en card7 ya estan incluidas del 7 al 8
10-12
13-16


*/

/* Header Top Bar*/

.headerBar{
    font-family: 
	position: relative;
	width:100%;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #757575;
	z-index: 1000;
}

.headerbarfont{
	font-family:Roboto;
	font-size: 2.0vh;
	padding-top: 1.75vh;
	padding-bottom: 1.75vh;
	text-align:center;
}


.contentPage{
  position: fixed;
	top:6.3%;
  width: 100%;
  height:93.7%;
	background-color: #EBEFF2;

}

/*-------------------- Main Cards (Max: Four)---------- */
 .card1 {
    width: 25%;
    height:auto;
    margin-top:15%;
    margin-left: 37.5%;
    float: left;
    position: relative;
    border-radius: 0.2vh;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 2px #757575;
    z-index: 1000;
 }

 .card2 {
    width: 25%;
    height:auto;
    margin-top:15%;
    margin-left: 17%;
    float: left;
    position: relative;
    border-radius: 0.2vh;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 2px #757575;
    z-index: 1000;
 }

 .card3 {
    width: 25%;
    height:auto;
    margin-top:15%;
    margin-left: 6.5%;
    float: left;
    position: relative;
    border-radius: 0.2vh;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 2px #757575;
    z-index: 1000;
 }


 .card4 {
    width: 34%;
    height:auto;
    margin-top:8%;
    margin-left: 10%;
    float: left;
    position: relative;
    border-radius: 0.2vh;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 2px #757575;
    z-index: 1000;
 }

 .card5 {
    width: 34%;
    height:auto;
    margin-top:3.2%;
    margin-left: 10%;
    float: left;
    position: relative;
    border-radius: 0.2vh;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 2px #757575;
    z-index: 1000;
 }

 .card6 {
    width: 34%;
    height:auto;
    margin-top:3.2%;
    margin-left: 10%;
    float: left;
    position: relative;
    border-radius: 0.2vh;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 2px #757575;
    z-index: 1000;
 }

 .card7 {
    width: 25%;
    height:auto;
    margin-top:3.2%;
    margin-left: 6%;
    float: left;
    position: relative;
    border-radius: 0.2vh;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 2px #757575;
    z-index: 1000;
 }

 .card10 {
    width: 22%;
    height:auto;
    margin-top:5%;
    margin-left: 2.3%;
    float: left;
    position: relative;
    border-radius: 0.2vh;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 2px #757575;
    z-index: 1000;
 }

 .card13 {
    width: 22%;
    height:auto;
    margin-top:1.3%;
    margin-left: 2.3%;
    float: left;
    position: relative;
    border-radius: 0.2vh;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 2px #757575;
    z-index: 1000;
 }


 .panelHeading{
 	background-color: #424242;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    padding:1.6vh;
	width:100%;
	position:relative;;
 }

 .panelInfo{
 height:92%;
 width:100%;
 position: relative;

 }

.SectionA{
	 width:100%;
	 height: auto;
	 position:relative;
     z-index: 1000;
 }

 /*Images*/
 .imgPerson{
	height: auto;
	width:100%;
	position:relative;
	background-color: #fff;
     
 }

 .religiones{
	height: 3.2vh;
	position:relative;
    left: 29%;
     
 }

 .name{
     font-family: Roboto;
     font-weight: 500;
     font-size:2.8vh;
     color:aliceblue;
     bottom: 1.6vh;
     left:1.6vh;
     position: absolute;
     width: auto;
 }

 .picFontBody{
    font-family: Roboto;
    font-size:2.4vh;
    color:aliceblue;
     position: relative;
     width: auto;
     font-weight: 500;
 }

 .A-subText{
     position:absolute;
     top:4%;
     right:4%;
     z-index: 1000;
 }

 .A-mainText{
     position:absolute;
     top:6%;
     left:4%;
     z-index: 1000;
 }

 /*Image*/
 .QR{
 	width:10.0vh;
 	height:10.0vh;
	position:absolute;
	right:2%;
	top: 1.6vh;
	border-radius: 10%;
 }

 /*People pictures-photos*/
 .SectionB{
	 padding-left: 1.6vh;
	 padding-right: 1.6vh;
     padding-top: 1.6vh;
	 width:100%;
	 height: 67%;
	 position:relative;
     padding-bottom: 1.6vh;
 }

 .SectionC{
    height:60%;
    width:100%;
    padding-top: 1.6vh;

 }

/* Data */
hr.Line{
	border-top: 1px solid #8c8b8b;
}

 .mdl-card__supporting-text{
    height: 40%;
    width: 100%;

 }
.label {
    position: absolute;
}

.maintext-B{
    font-family: Roboto;
    position: relative;
    font-size:2.8vh;
    color:#000000;

 }


.tittletext-B{
    font-family: Roboto;
    position: relative;
    font-size:1.8vh;
    padding-bottom: 1.6vh;
    padding-top: 0.8vh;
    color: darkgray;
 
}


.Subsection-C{ 
	width:30%; /*Cambiar el width si el nombre de la ciudad es muy corto*/
    padding-left: 0.8vh;
    padding-right:0.6vh;
	position:relative;
	float:left;
}
.SectionB-2{
    position:relative;
    padding-bottom:0.8vh ;
}

.icons-C{
    color: #808080;
    padding-right: 2%;
    position:relative;
    float: left;
}

.icon-B{
    color: #808080;
    height: 2.4vh;
    padding-right: 0.8vh;
    position:relative;
    float: inherit;

}

.place-B{
	font-family:Roboto;
    position: relative;
	font-size:1.6vh;
    padding-top: 0.4vh;
	color: #808080;
    float: right;
    font-weight:400;
    width: auto;

}

.info-C{
	font-family:Roboto;
    position: relative;
	font-size:1.6vh;
    padding-top: 0.4vh;
    text-align: center;
    font-weight: 500;
	color: #808080;

}

#text-carousel {
	position: relative;
    width: 100%;
    height: 60%;
}
.carousel-control1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

/*---------------------ONLY CARD4*/
.SectionA-4{
	 width:100%;
	 height: auto;
	 position:relative;
     z-index: 1000;
    background: #424242;
 }
.picSection-4{
    width: 25%;
    height: 100%;
    float: right;
}
.picSectionB-4{
    width: 75%;
    height: 100%;
    float: left;
}

 .name-4{
     font-family: Roboto;
     font-weight: 500;
     font-size:2.4vh;
     color:aliceblue;
     padding-top: 0.8vh;
     padding-bottom: 0.8vh;
     padding-left:1.6vh;
     position: relative;
     width: 70%;
     float: none;
 }

 .picFontBody-4{
     font-family: Roboto;
     font-weight: 400;
     font-size:1.8vh;
     color:aliceblue;
     text-align: center;
     padding-top: 1.4vh;
     position: relative;
     width: 30%;
     float: right;
 }
.QR-4{
 	width:9.0vh;
 	height:9.0vh;
	position:absolute;
	right:2%;
	top: 1.6vh;
	border-radius: 10%;
 }

.maintext-B-4{
    font-family: Roboto;
    position: relative;
    font-size:2.4vh;
    color:#000000;

 }
/*-------------------- END ONLY CARD4*/


/*---------------------CARD 5 to 6*/

.picSection-5{
    width: 25%;
    height: 100%;
    float: right; 
}
.picSectionB-5{
    width: 75%;
    height: 100%;
    float: left;
}
.SectionA-5{
	 width:100%;
	 height: auto;
	 position:relative;
     z-index: 1000;
    background: #424242;
 }
 .picFontBody-5{
     font-family: Roboto;
     font-weight: 400;
     font-size:1.8vh;
     color:aliceblue;
     text-align: center;
     padding-top: 1.4vh;
     position: relative;
     width: 30%;
     float: right;
 }
 .name-5{
     font-family: Roboto;
     font-weight: 500;
     font-size:2.4vh;
     color:aliceblue;
     padding-top: 0.8vh;
     padding-bottom: 0.8vh;
     padding-left:1.6vh;
     position: relative;
     width: 70%;
     float: none;
 }

 .QR-5{
 	width:9.0vh;
 	height:9.0vh;
	position:absolute;
	right:2%;
	top: 1.6vh;
	border-radius: 10%;
 }
.maintext-B-5{
    font-family: Roboto;
    position: relative;
    font-size:2.4vh;
    color:#000000;
 }
/*---------------------END  CARD 5 to 6*/
/*---------------------CARD 7 to 9*/
.SectionA-7{
	 width:100%;
	 height: auto;
	 position:relative;
     z-index: 1000;
    background: #424242;
 }

 .name-7{
     font-family: Roboto;
     font-weight: 500;
     font-size:2.4vh;
     color:aliceblue;
     padding-top: 0.8vh;
     padding-bottom: 0.8vh;
     padding-left:1.6vh;
     position: relative;
     width: 70%;
     float: none;
 }

 .picFontBody-7{
     font-family: Roboto;
     font-weight: 400;
     font-size:1.8vh;
     color:aliceblue;
     text-align: center;
     padding-top: 1.4vh;
     position: relative;
     width: 30%;
     float: right;
    
 }
 .QR-7{
 	width:9.0vh;
 	height:9.0vh;
	position:absolute;
	right:2%;
	top: 1.6vh;
	border-radius: 10%;
 }


.maintext-B-7{
    font-family: Roboto;
    position: relative;
    font-size:2.4vh;
    color:#000000;

 }
/*--------------------- ONLY CARD 7 to 9*/


/*--------------------- CARD 10 to 12*/

.SectionA-10{
	 width:100%;
	 height: auto;
	 position:relative;
     z-index: 1000;
    background: #424242;
 }
 .name-10{
     font-family: Roboto;
     font-weight: 500;
     font-size:2.0vh;
     color:aliceblue;
     padding-top: 0.8vh;
     padding-bottom: 0.8vh;
     padding-left:1.6vh;
     position: relative;
     width: 70%;
     float: none;
 }

 .QR-10{
 	width:8.0vh;
 	height:8.0vh;
	position:absolute;
	right:2%;
	top: 0.8vh;
	border-radius: 10%;
 }

 .picFontBody-10{
     font-family: Roboto;
     font-weight: 400;
     font-size:1.4vh;
     color:aliceblue;
     text-align: center;
     padding-top: 1.4vh;
     position: relative;
     width: 30%;
     float: right;
 }

.maintext-B-10{
    font-family: Roboto;
    position: relative;
    font-size:1.8vh;
    color:#000000;
    font-weight: 500;

 }

.titletext-B-10{
    font-family: Roboto;
    position: relative;
    font-size:1.4vh;
    padding-bottom: 1.6vh;
    padding-top: 0.8vh;
    color: darkgray;
 
}

.Subsection-C-10{ 
	width:33.3%; /*Cambiar el width si el nombre de la ciudad es muy corto*/
    padding-left: 0.8vh;
    padding-right:0.6vh;
	position:relative;
	float:left;
}
.icon-B-10{
    color: #808080;
    height: 1.8vh;
    padding-right: 0.4vh;
    position:relative;
    float: inherit;

}
.info-C-10{
	font-family:Roboto;
    position: relative;
	font-size:1.4vh;
    padding-top: 0.4vh;
    text-align: center;
    font-weight: 500;
	color: #808080;

}

/*---------------------END CARD 10 to 12*/

/*--------------------- CARD 13 to 16*/
.SectionA-13{
	 width:100%;
	 height: auto;
	 position:relative;
     z-index: 1000;
    background: #424242;
 }
 .name-13{
     font-family: Roboto;
     font-weight: 500;
     font-size:2.0vh;
     color:aliceblue;
     padding-top: 0.8vh;
     padding-bottom: 0.8vh;
     padding-left:1.6vh;
     position: relative;
     width: 70%;
     float: none;
 }

 .picFontBody-13{
     font-family: Roboto;
     font-weight: 400;
     font-size:1.4vh;
     color:aliceblue;
     text-align: center;
     padding-top: 1.4vh;
     position: relative;
     width: 30%;
     float: right;
 }
 .QR-13{
 	width:8.0vh;
 	height:8.0vh;
	position:absolute;
	right:2%;
	top: 0.8vh;
	border-radius: 10%;
 }
.tittletext-B-13{
    font-family: Roboto;
    position: relative;
    font-size:1.4vh;
    padding-bottom: 1.6vh;
    padding-top: 0.8vh;
    color: darkgray;
 
}
.maintext-B-13{
    font-family: Roboto;
    position: relative;
    font-size:1.8vh;
    color:#000000;
    font-weight: 500;

 }
.Subsection-C-13{ 
	width:33.3%; /*Cambiar el width si el nombre de la ciudad es muy corto*/
    padding-left: 0.8vh;
    padding-right:0.6vh;
	position:relative;
	float:left;
}
.icon-B-13{
    color: #808080;
    height: 1.8vh;
    padding-right: 0.4vh;
    position:relative;
    float: inherit;

}
.place-B-13{
	font-family:Roboto;
    position: relative;
	font-size:1.4vh;
    padding-top: 0.4vh;
	color: #808080;
    float: right;
    font-weight:400;
    width: auto;
}
/*---------------------END CARD 13 to 16*/