<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <title>Cartelera</title>

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="assets/plugins/morris/morris.css">

        
         <!-- Plugins css-->
        <link href="assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
        <link href="assets/plugins/multiselect/css/multi-select.css"  rel="stylesheet" type="text/css" />
        <link href="assets/plugins/select2/dist/css/select2.css" rel="stylesheet" type="text/css">
        <link href="assets/plugins/select2/dist/css/select2-bootstrap.css" rel="stylesheet" type="text/css">
        <link href="assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
        <link href="assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
        <link href="assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
        <link href="assets/plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
        <link href="assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
        
        <!-- DataTables -->
        <link href="assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />
        
        
        <!-- App css -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="assets/js/modernizr.min.js"></script>


    </head>


    <body class="fixed-left" id="App" ng-controller="eventosCtrl">
        
        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="index.html" class="logo"><span>Cartelera Digital</span><i class="zmdi zmdi-layers"></i></a>
                </div>

                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">

                        <!-- Page title -->
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <button class="button-menu-mobile open-left">
                                    <i class="zmdi zmdi-menu"></i>
                                </button>
                            </li>
                            <li>
                                <h4 class="page-title">Bienvenido, Usuario {{hola}}</h4>
                            </li>
                        </ul>

                        <!-- Right(Notification and Searchbox -->
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <!-- Notification -->
                                <h5>Ayuda</h5>
                                <!-- End Notification bar -->
                            </li>
                            
                        </ul>

                    </div><!-- end container -->
                </div><!-- end navbar -->
            </div>
            <!-- Top Bar End -->


            <!-- MODALS Start here -->
            
             <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Registrar nuevo evento</h4>
                        </div>
                            <div class="modal-body">


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Titulo del evento</label>
                                            <input type="text" class="form-control" id="field-1" ng-model="formE.name">
                                        </div>
                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Lugar</label>
                                            <input type="text" class="form-control" id="field-1" ng-model="formE.place">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Fecha de inicio</label>
                                            
                                                <input type="date" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose" ng-model="formE.start">
                                                
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label ">Hora </label>
                                       
                                                <input id="timepicker3" type="time" class="form-control" ng-model="hora">
                                            
                                           
                                    </div>
                                </div>
                                    
                                </div>
                      
                                

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-info waves-effect waves-light" ng-click="registrarEvent()">Guardar cambios</button>
                                </div>

                        </div>
                </div>
            </div>
        </div>
            
              <div id="edit-room-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content" ng-repeat="e in eventEditar">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Editar evento</h4>
                        </div>
                        <div class="modal-body">


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Titulo del evento</label>
                                            <input type="text" class="form-control" id="field-1" ng-model="e.name">
                                        </div>
                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Lugar</label>
                                            <input type="text" class="form-control" id="field-1" ng-model="e.place">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Fecha y hora de inicio</label>

                                         <input type="datetime" class="form-control" placeholder="yyyy-mm-dd hh:mm" id="datepicker-autoclose" ng-model="e.start">
                                               
                                    </div>
                                    </div>
                                    <!--<div class="col-md-6">
                                        <label class="control-label col-sm-4">Hora </label>
                                        <div class="input-group m-b-0">
                                            <div class="bootstrap-timepicker">
                                                <input id="timepicker3" type="text" class="form-control" ng-model="horaStart">
                                            </div>
                                            <span class="input-group-addon bg-primary b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>
                                    </div>-->
                                </div>                 
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-info waves-effect waves-light" ng-click="editarEvent(e)">Guardar cambios</button>
                        </div>
            </div>
        </div>
            
            
        </div><!-- /.modal -->
            
            <!-- MODALS finish here -->
            
            
            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                            <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
                        </div>
                        <h5><a href="#">Funeraria Vélez</a> </h5>
                        
                    </div>
                    <!-- End User -->

                    <!--- MENU -->
                    <div id="sidebar-menu">
                        <ul>
                        	<li class="text-muted menu-title">Menú</li>

                            <li>
                                <a href="index.html" class="waves-effect "><i class="zmdi zmdi-view-dashboard"></i> <span> Servicios </span> </a>
                            </li>

                            <li>
                                <a href="salas.html" class="waves-effect"><i class="zmdi zmdi-collection-text"></i><span> Salas </span> </a>
                            </li>

                            <li class="has_sub">
                                <a href="religiones.html" class="waves-effect"><i class="zmdi zmdi-view-list"></i> <span> Religiones </span></a>
                            </li>
                            <li>
                                <a href="pantallas.html" class="waves-effect"><i class="zmdi zmdi-calendar"></i><span> Pantallas </span></a>
                            </li>
                            <li>
                                <a href="eventos.html" class="waves-effect active"><i class="zmdi zmdi-calendar"></i><span> Eventos </span></a>
                            </li>

                            <li>
                                <a href="publicidad.html" class="waves-effect"><i class="zmdi zmdi-email"></i><span class="label label-purple pull-right">A</span><span> Publicidad </span></a>
                            </li>

                            
                            
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        
                        
                        <div class="row">
                            <div class="col-md-12 m-b-10">
                                
                                
                                <button class="btn btn-default waves-effect  m-b-x-10 btn-lg" data-toggle="modal" data-target="#con-close-modal"> <i class="fa fa-home m-r-5"></i> <span>Nuevo evento</span> </button>
                                
                                <br> 
                            </div>
                        
                        </div>
                        
                        <!-- Modal to Add new service -->



                        <div class="row">
                        
                            
                            <div class="col-md-12">
                                
                                <div class="card-box">
                                    
                                    <h4 class="header-title m-t-0 m-b-30">Eventos próximos</h4>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Título</th>
                                                <th>Lugar</th>
                                                <th>Fecha de inicio</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="e in eventsArray">
                                                    <td>{{e.name}}</td>
                                                    <td>{{e.place}}</td>
                                                    <td>{{e.start}}</td>
                                                    <th><a href="detalle.html" data-toggle="modal" data-target="#edit-room-modal" ng-click="filtrarEvent(e.id)"> Editar </a> <button type="button" class="btn btn-link" ng-click="eliminarEvent(e.id)" >Eliminar</button></th>
                                                </tr>
                                                

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- end col -->

                        
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                    2016 © Distrito Digital - Innovación Tecnológica.
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- /Right-bar -->

        </div>
        <!-- END wrapper -->



        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/detect.js"></script>
        <script src="assets/js/fastclick.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.blockUI.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.nicescroll.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>

        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="assets/plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="assets/plugins/jquery-knob/jquery.knob.js"></script>

        <!--Morris Chart-->
        <script src="assets/plugins/morris/morris.min.js"></script>
        <script src="assets/plugins/raphael/raphael-min.js"></script>

        <!-- Dashboard init -->
        <script src="assets/pages/jquery.dashboard.js"></script>

        <!-- App js -->
        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>

        <script type="text/javascript" src="app/angular.min.js"></script>
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/controllers.js"></script>

    </body>
</html>