/* Header Top Bar*/

.headerBar{
    font-family: 
	position: relative;
	width:100%;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #757575;
	z-index: 1000;
}

.headerbarfont{
	font-family:Roboto;
	font-size: 2.0vh;
	padding-top: 1.75vh;
	padding-bottom: 1.75vh;
	text-align:center;
}


.contentPage{
    position: fixed;
    left: 22%;
	top:6.3%;
    width: 78%;
    height:93.7%;
	background-color: #EBEFF2;

}

/*-------------------- Main Cards (Max: Four)---------- */
 .card {
    width: 33%;
    height:auto;
    margin-top:19%;
    margin-left: 33%;
    float: left;
    position: relative;
    border-radius: 0.2vh;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 2px #757575;
    z-index: 1000;
 }


 .card2 {
    width: 33%;
    height:auto;
    margin-top:19%;
    margin-left: 12%;
    float: left;
    position: relative;
    border-radius: 0.2vh;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 2px #757575;
    z-index: 1000;
 }

 .card3 {
    width: 33%;
    height:auto;
    margin-top:1.8%;
    margin-left: 12%;
    float: left;
    position: relative;
    border-radius: 0.2vh;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 2px #757575;
    z-index: 1000;
 }

 .card4 {
    width: 33%;
    height:auto;
    margin-top:1.8%;
    margin-left: 12%;
    float: left;
    position: relative;
    border-radius: 0.2vh;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 2px #757575;
    z-index: 1000;
 }


 .panelHeading{
 	background-color: #424242;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    padding:1.6vh;
	width:100%;
	position:relative;;
 }


 .panelInfo{
     height:92%;
     width:100%;
     position: relative;

 }

 .SectionA{
	 width:100%;
	 height: auto;
	 position:relative;
     z-index: 1000;
 }
/*
 .card-Quote{
     padding:3.0vh;
	 width:100%;
	 height: 100%;
	 position:relative;
     text-align: left;
 }
*/
 /*Images*/
 .imgPerson{
	height: auto;
	width:100%;
	position:relative;
	background-color: #fff;
     
 }

 .religiones{
	height: 3.2vh;
	position:relative;
    left: 29%;
     
 }


 .name{
     font-family: Roboto;
     font-weight: 500;
     font-size:2.8vh;
     color:aliceblue;
     bottom: 1.6vh;
     left:1.6vh;
     position: absolute;
     width: auto;
 }

 .picFontBody{
    font-family: Roboto;
    font-size:2.4vh;
    color:aliceblue;
     position: relative;
     width: auto;
     font-weight: 500;
 }


 .A-subText{
     position:absolute;
     top:4%;
     right:4%;
     z-index: 1000;
 }

 .A-mainText{
     position:absolute;
     top:6%;
     left:4%;
     z-index: 1000;
 }


 /*Image*/
 .QR{
 	width:10.0vh;
 	height:10.0vh;
	position:absolute;
	right:2%;
	top: 1.6vh;
	border-radius: 10%;
 }

 /*People pictures-photos*/
 .SectionB{
	 padding-left: 1.6vh;
	 padding-right: 1.6vh;
     padding-top: 3.2vh;
	 width:100%;
	 height: 67%;
	 position:relative;
     padding-bottom: 1.6vh;

 }

 .SectionC{
    height:60%;
    width:100%;
    padding-top: 1.6vh;

 }

 /* Data */

hr.Line{
	border-top: 1px solid #8c8b8b;
}

 .mdl-card__supporting-text{
    height: 40%;
    width: 100%;

 }
.label {
    position: absolute;
}

.maintext-B{
    font-family: Roboto;
    position: relative;
    font-size:2.8vh;
    color:#000000;

 }


.tittletext-B{
    font-family: Roboto;
    position: relative;
    font-size:1.8vh;
    padding-bottom: 0.8vh;
    color: darkgray;
 
}


.Subsection-C{ 
	width:30%; /*Cambiar el width si el nombre de la ciudad es muy corto*/
    padding-left: 0.8vh;
    padding-right:0.6vh;
	position:relative;
	float:left;
}
.SectionB-2{
    position:relative;
    padding-bottom:1.6vh ;
}

.icons-C{
    color: #808080;
    padding-right: 2%;
    position:relative;
    float: left;
}

.icon-B{
    color: #808080;
    height: 2.4vh;
    padding-right: 0.8vh;
    position:relative;
    float: inherit;

}

.place-B{
	font-family:Roboto;
    position: relative;
	font-size:1.6vh;
    padding-top: 0.4vh;
	color: #808080;
    float: right;
    font-weight:400;
    width: auto;

}

.icon-B-2{/*Cambio cuando hay TRES o cuatro tarjetas*/
    color: #808080;
    height: 2.4vh;
    margin-top: 0.8vh;
    padding-right: 0.8vh;
    position:relative;
    float: inherit;

}

.place-B-2{ /*Cambio cuando hay TRES o cuatro tarjetas*/
	font-family:Roboto;
    position: relative;
	font-size:1.6vh;
    padding-top: 1.2vh;
	color: #808080;
    float: right;
    font-weight:400;
    width: auto;

}


.info-C{
	font-family:Roboto;
    position: relative;
	font-size:1.6vh;
    padding-top: 0.4vh;
    text-align: center;
    font-weight: 500;
	color: #808080;

}

#text-carousel {
	position: relative;
    width: 100%;
    height: 60%;
}
.carousel-control1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}