
/*Coulumn in color styles */
.column{
	position:fixed;
	background-color: #424242;
	width: 22%;
	height:93.7%;
}

/* Cards into Column */

.card-velez{
	position: relative;
	margin-top: 11%;
	margin-left: 9%;
	padding-top: 3%;
    width: 80%;
    height: 22%;
    background-color: #fff;
    border-radius: 4%;
    box-shadow: 0.3px 0.3px 0.3px 1px rgba(0, 0, 0, 0.2);
}
.cardvelezimage{
	position: relative;
	padding-left: 20%;
}


.title{
	font-family:Roboto;
	color:#4444;
	text-align:center;
	font-size:1.8vh;
}
.subtitle{
    font-family:Roboto;
    padding-top:2%;
    text-align:center;
    color: #757575;
    font-size:1.8vh;; "
}

/*-------------------*/
.card-time{
	position: relative;
    font-family: Roboto;
    font-style: normal;
	margin-top: 11%;
	margin-left: 9%;
	padding-top: 6%;
	padding-left: 6%;
	width: 80%;
	height: 12%;
	background-color: #fff;
	border-radius: 4%;
	box-shadow: 0.3px 0.3px 0.3px 1px rgba(0, 0, 0, 0.2);
}

/*---------------------*/

.card-weather{
	position: relative;
    font-family: Roboto;
    font-style: normal;
	margin-top: 11%;
	margin-left: 9%;
	padding-left: 10%;
	padding-top: 6%;
    width: 80%;
    height:22%;
    background-color: #fff;
    border-radius: 4%;
    box-shadow: 0.3px 0.3px 0.3px 1px rgba(0, 0, 0, 0.2);
}
/*---------------------*/
/* Event Card (1) */

.card-event{
	position: relative;
	margin-top: 11%;
	margin-left: 9%;
	padding-top: 1%;
	width: 80%;
	height: 25%;
	background-color: #fff;
	border-radius: 4%;
	box-shadow: 0.3px 0.3px 0.3px 1px rgba(0, 0, 0, 0.2);
}
.event-text{
     font-family:Roboto;
     font-style: normal;
     font-size:2.8vh;
     padding-left: 2.6vh;
     font-weight: 500;
}

.event-item {
      position: relative;
      display: block;
      padding: 1.0vh 2.8vh;
      margin-bottom: -0.1vh;
      background-color: #fff;
      border: 0.1vh solid #ddd;
}
    

/*----------------------*/

.event-text2{
	font-family:Roboto;
    font-style: normal;
	font-size:1.6vh;
	padding-top:1.0vh;
	padding-left:2.0vh;
	padding-right:1.0vh;
	margin-left: 1.0vh;
	color:#757575;
}




/*-----------------------------------------------*/

/* ALL Weather CARD  Styles */
#date {
	position: relative;
	text-align: center;
	text-align: left;
	font-family:Roboto;
	font-size:1.6vh;
	color: #757575;
}

#city {
	position: relative;
	text-align:left;
	line-height: 1.3em;
    font-family:Roboto;
    font-weight: 500;
	color:#444444;
	font-size:3.0vh;
}

#weather {
	text-align:left;
    font-family:Roboto;
	text-transform: capitalize;
	width: 100%;

}

/* MORE CARD styles */
.weather-details {
	font-family:Roboto;
	 font-size:2.0vh;

}

#icon {
	font-size: 5.0vh;
}

#temperature {
    font-family:Roboto;
    font-weight: 500;
	font-size: 2vh;
}

.weather-details {
	color: grey;
}

.weather-details a:hover,
.weather-details a:focus {
	color: grey;
	outline: none;
     font-family:Roboto;
	text-decoration: none;
}

.degree {
	font-size: 2em;
    font-family:Roboto;
	color: grey;
	position: relative;
    bottom: -5.0vh;
}

#unit {
	font-size: 1em;
    font-family:Roboto;
	display: inline-block;
	width: 4.5vh;
	text-align: left;
}

@media (min-width: 76.8vh) {
	#icon {
		padding: 0 1.0vh 0 1.0vh;
	}

	#temperature {
        font-family:Roboto;
		font-size: 6.5vh;
	}

	.degree {
		top: -65px;
	}
}

@media (min-width: 50.1vh) {
	#icon {
		top: -2.0vh;
    	position: relative;
	}
}

@media (max-width: 50.0vh) {
	#icon {
		display: block;
		padding: 3.0vh 0 1.0vh;
	}
}
/*-----------------------*/
