<!DOCTYPE html>
<html ng-app="mainScreens">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Velez Servicios Foráneos">
    <meta name="author" content="Coderthemes">
    <title>Velez - Foráneo</title>
    
    <!-- Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//monospaced.github.io/bower-qrcode-generator/js/qrcode.js"></script>
    <script src="//monospaced.github.io/bower-qrcode-generator/js/qrcode_UTF8.js"></script>
    <script src="js/qr/angular-qrcode.js"></script>
    <script src="app.js"></script>

    <!-- App css -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.teal-red.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="css/Cards.css">
    <link rel="stylesheet" href="css/colorcolumn.css">
    <link rel="stylesheet" href="css/roboto.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <script src="js/time.js"></script>
    <script src="js/quote.js"></script>
    <!-- Funcionalidades -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons-wind.min.css">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
    <style type="text/css">
    .carousel-control.left, .carousel-control.right {
        background-image: none
    }
    </style>
</head>
    <!--Top Bar-->
        <header class="headerBar">
            <div class="headerbarfont">GRUPO VÉLEZ S.A. de C.V.</div>
        </header>
  <!-- ========== Start BODY ========== -->
    <body ng-controller="screens">
        <!-- Contenido de la página -->
        <div class="contentPage" ng-init="get_foreign_cards(1);">
            <!-- Card -->
            <div class="card1" ng-show="cards.length == 1" ng-repeat="card in cards">
                <!-- P1 -->
                <!-- P2 -->
                <div class="panelInfo">
                    <!-- SectionA -->
                    <div class=" SectionA">
                        <div class="A-mainText">
                            <div class="label label-primary" style="font-size:1.8vh; background-color:#424242;" >{{card.type_service}} </div>
                        </div>
                        <div class="A-subText">
                            <div class="picFontBody" > {{card.intern_code}} </div>
                            <img src="images/Religiones/catholicism-2B.png" class="religiones"/>
                        </div>
                        <img src="http://lsys.mx/cartelera/admin/{{card.path_img}}"  class="imgPerson"/>
                        <div class="name"> {{card.full_name}} </div>
                    </div>
                    <!-- SectionB -->
                    <div class="SectionB" >
                        <qrcode class="QR" version="3" error-correction-level="L" size="75" data="http://lsys.mx/cartelera/esquela/index.php?id={{card.id_soul}}" download></qrcode>
                        <!-- <img src="images/QR.png"class="QR"/> -->
                        <div class="maintext-B">Velación:</div>
                        <div class= "tittletext-B"> {{card.address}}</div>
                        <div class="SectionB-2" style="width: 100%;">
                            <div  style="width: 50%; float:left; padding-bottom:1.6vh;" >
                                <div class= "maintext-B" ng-show="card.celebrations != 'null'" > Celebración:</div>
                            </div>
                            <div style="width: 50%; float: right; padding-top:0.2vh" >
                                <div  style="padding-top:0.8vh;text-align: right;">
                                    <img src="images/Iconos/map.png" class="icon-B"/>
                                    <div class="place-B"></div>
                                </div>
                            </div>
                        </div>
                        <!-- SectionC Carrousel -->
                        <div class="SectionC">
                            <div id="myCarousel1{{$index}}" class="carousel slide">
                                <div class="carousel-inner" ng-init="get_celebrations(card.id_soul)">
                                    
                                    <div class="active item" ng-if="card.celebrations!=null && $index == 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                    <div class="item" ng-if="card.celebrations!=null && $index != 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel1{{$index}}" data-slide="prev"></a>
                                <a class="right carousel-control" href="#myCarousel1{{$index}}" data-slide="next"></a>
                            </div>
                        </div>
                        <!-- End Carrousel -->  
                    </div>
                </div> <!--pannelinfo -->
            </div>
            <!-- end CARD -->

            <!-- Card -->
            <div class="card2" ng-show="cards.length == 2" ng-repeat="card in cards">
                <!-- P1 -->
                <!-- P2 -->
                <div class="panelInfo">
                    <!-- SectionA -->
                    <div class=" SectionA">
                        <div class="A-mainText">
                            <div class="label label-primary" style="font-size:1.8vh; background-color:#424242;" > {{card.type_service}} </div>
                        </div>
                        <div class="A-subText">
                            <div class="picFontBody" > {{card.intern_code}} </div>
                            <img src="images/Religiones/catholicism-2B.png" class="religiones"/>
                        </div>
                        <img src="http://lsys.mx/cartelera/admin/{{card.path_img}}"  class="imgPerson"/>
                        <div class="name">{{card.full_name}} </div>
                    </div>
                    <!-- SectionB -->
                    <div class="SectionB" >
                        <qrcode class="QR" version="3" error-correction-level="L" size="75" data="http://lsys.mx/cartelera/esquela/index.php?id={{card.id_soul}}" download></qrcode>
                        <!-- <img src="images/QR.png"class="QR"/> -->
                        <div class="maintext-B">Velación:</div>
                        <div class= "tittletext-B">{{card.address}</div>
                        <div class="SectionB-2" style="width: 100%;">
                            <div  style="width: 50%; float:left; padding-bottom:1.6vh;" >
                                <div class= "maintext-B" ng-show="card.celebrations != 'null'" > Celebración:</div>
                            </div>
                            <div style="width: 50%; float: right; padding-top:0.2vh" >
                                <div  style="padding-top:0.8vh;text-align: right;">
                                    <img src="images/Iconos/map.png" class="icon-B"/>
                                    <div class="place-B"></div>
                                </div>
                            </div>
                        </div>
                        <!-- SectionC Carrousel -->
                        <div class="SectionC">
                            <div id="myCarousel2{{$index}}" class="carousel slide">
                                <div class="carousel-inner" ng-init="get_celebrations(card.id_soul)">
                                    
                                    <div class="active item" ng-if="card.celebrations!=null && $index == 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                    <div class="item" ng-if="card.celebrations!=null && $index != 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel2{{$index}}" data-slide="prev"></a>
                                <a class="right carousel-control" href="#myCarousel2{{$index}}" data-slide="next"></a>
                            </div>
                        </div>
                        <!-- End Carrousel -->
                    </div>
                </div> <!--pannelinfo -->
            </div>
            <!-- end CARD -->
            
            <!-- Card -->
            <div class="card3" ng-show="cards.length == 3" ng-repeat="card in cards">
                <!-- P1 -->
                <!-- P2 -->
                <div class="panelInfo">
                    <!-- SectionA -->
                    <div class=" SectionA">
                        <div class="A-mainText">
                            <div class="label label-primary" style="font-size:1.8vh; background-color:#424242;" > {{card.type_service}} </div>
                        </div>
                        <div class="A-subText">
                            <div class="picFontBody" >{{card.intern_code}}</div>
                            <img src="images/Religiones/catholicism-2B.png" class="religiones"/>
                        </div>
                        <img src="http://lsys.mx/cartelera/admin/{{card.path_img}}"  class="imgPerson"/>
                        <div class="name">{{card.full_name}}</div>
                    </div>
                    <!-- SectionB -->
                    <div class="SectionB" >
                        <qrcode class="QR" version="3" error-correction-level="L" size="75" data="http://lsys.mx/cartelera/esquela/index.php?id={{card.id_soul}}" download></qrcode>
                        <!-- <img src="images/QR.png"class="QR"/> -->
                        <div class="maintext-B">Velación:</div>
                        <div class= "tittletext-B">{{card.address}}</div>
                        <div class="SectionB-2" style="width: 100%;">
                            <div  style="width: 50%; float:left; padding-bottom:1.6vh;" >
                                <div class= "maintext-B" ng-show="card.celebrations != 'null'" > Celebración:</div>
                            </div>
                            <div style="width: 50%; float: right; padding-top:0.2vh" >
                                <div  style="padding-top:0.8vh;text-align: right;">
                                    <img src="images/Iconos/map.png" class="icon-B"/>
                                    <div class="place-B"></div>
                                </div>
                            </div>
                        </div>
                        <!-- SectionC Carrousel -->
                        <div class="SectionC">
                            <div id="myCarousel3{{$index}}" class="carousel slide">
                                <div class="carousel-inner" ng-init="get_celebrations(card.id_soul)">
                                    
                                    <div class="active item" ng-if="card.celebrations!=null && $index == 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                    <div class="item" ng-if="card.celebrations!=null && $index != 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel3{{$index}}" data-slide="prev"></a>
                                <a class="right carousel-control" href="#myCarousel3{{$index}}" data-slide="next"></a>
                            </div>
                        </div>
                        <!-- End Carrousel -->
                    </div>
                </div> <!--pannelinfo -->
            </div>
            <!-- end CARD -->

            <!-- Card -->
            <div class="card4" ng-show="cards.length == 4" ng-repeat="card in cards">
                <!-- P1 -->
                <!-- P2 -->
                <div class="panelInfo">
                    <!-- Pic SECTION -->
                    <div class="picSection-4">
                        <img src="http://lsys.mx/cartelera/admin/{{card.path_img}}"  class="imgPerson"/>
                    </div>
                    <div class="picSectionB-4">
                    <!-- SectionA -->
                    <div class=" SectionA-4">
                        <div class="picFontBody-4" >{{card.intern_code}}</div>
                        <div class="name-4">{{card.full_name}}</div>
                    </div>
                    <!-- SectionB -->
                    <div class="SectionB" >
                        <qrcode class="QR" version="3" error-correction-level="L" size="50" data="http://lsys.mx/cartelera/esquela/index.php?id={{card.id_soul}}" download></qrcode>
                        <!-- <img src="images/QR.png"class="QR-4"/> -->
                        <div class="maintext-B-4">Velación:</div>
                        <div class= "tittletext-B">{{card.address}}</div>
                        <div class="SectionB-2" style="width: 100%;">
                            <div  style="width: 50%; float:left; padding-bottom:1.6vh;" >
                                <div class= "maintext-B-4" ng-show="card.celebrations != 'null'" > Celebración:</div>
                            </div>
                            <div style="width: 50%; float: right; padding-top:0.2vh" >
                                <div  style="padding-top:0.8vh;text-align: right;">
                                    <img src="images/Iconos/map.png" class="icon-B"/>
                                    <div class="place-B"></div>
                                </div>
                            </div>
                        </div>
                        <!-- SectionC Carrousel -->
                        <div class="SectionC">
                            <div id="myCarousel4{{$index}}" class="carousel slide">
                                <div class="carousel-inner" ng-init="get_celebrations(card.id_soul)">
                                    
                                    <div class="active item" ng-if="card.celebrations!=null && $index == 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                    <div class="item" ng-if="card.celebrations!=null && $index != 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel4{{$index}}" data-slide="prev"></a>
                                <a class="right carousel-control" href="#myCarousel4{{$index}}" data-slide="next"></a>
                            </div>
                        </div>
                        <!-- End Carrousel -->
                    </div>
                    </div>
                </div> <!--pannelinfo -->
            </div>
            <!-- end CARD -->

            <!-- Card -->
            <div class="card5" ng-show="cards.length == 5 || cards.length == 6" ng-repeat="card in cards">
                <!-- P1 -->
                <!-- P2 -->
                <div class="panelInfo">
                    <!-- Pic SECTION -->
                    <div class="picSection-5">
                        <img src="http://lsys.mx/cartelera/admin/{{card.path_img}}"  class="imgPerson"/>
                    </div>
                    <div class="picSectionB-5">
                    <!-- SectionA -->
                    <div class=" SectionA-5">
                        <div class="picFontBody-5">{{card.intern_code}}</div>
                        <div class="name-5">{{card.full_name}}</div>
                    </div>
                    <!-- SectionB -->
                    <div class="SectionB" >
                        <qrcode class="QR" version="3" error-correction-level="L" size="50" data="http://lsys.mx/cartelera/esquela/index.php?id={{card.id_soul}}" download></qrcode>
                        <!-- <img src="images/QR.png"class="QR-5"/> -->
                        <div class="maintext-B">Velación:</div>
                        <div class= "tittletext-B">{{card.address}}</div>
                        <div class="SectionB-2" style="width: 100%;">
                            <div  style="width: 50%; float:left; padding-bottom:1.6vh;" >
                                <div class= "maintext-B-5" ng-show="card.celebrations != 'null'" > Celebración:</div>
                            </div>
                            <div style="width: 50%; float: right; padding-top:0.2vh" >
                                <div  style="padding-top:0.8vh;text-align: right;">
                                    <img src="images/Iconos/map.png" class="icon-B"/>
                                    <div class="place-B"></div>
                                </div>
                            </div>
                        </div>
                        <!-- SectionC Carrousel -->
                        <div class="SectionC">
                            <div id="myCarousel5{{$index}}" class="carousel slide">
                                <div class="carousel-inner" ng-init="get_celebrations(card.id_soul)">
                                    
                                    <div class="active item" ng-if="card.celebrations!=null && $index == 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                    <div class="item" ng-if="card.celebrations!=null && $index != 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel5{{$index}}" data-slide="prev"></a>
                                <a class="right carousel-control" href="#myCarousel5{{$index}}" data-slide="next"></a>
                            </div>
                        </div>
                        <!-- End Carrousel -->
                    </div>
                    </div>
                </div> <!--pannelinfo -->
            </div>
            <!-- end CARD -->
            
            <!-- Card -->
            <div class="card7" ng-show="cards.length == 7 || cards.length == 8 || cards.length == 9" ng-repeat="card in cards">
                <!-- P1 -->
                <!-- P2 -->
                <div class="panelInfo">
                    <!-- SectionA -->
                    <div class=" SectionA-7">    
                        <div class="picFontBody-7" >{{card.intern_code}}</div>
                        <div class="name-7">{{card.full_name}</div>
                    </div>
                    <!-- SectionB -->
                    <div class="SectionB" >
                        <qrcode class="QR" version="3" error-correction-level="L" size="50" data="http://lsys.mx/cartelera/esquela/index.php?id={{card.id_soul}}" download></qrcode>
                        <!-- <img src="images/QR.png"class="QR-7"/> -->
                        <div class="maintext-B-7">Velación:</div>
                        <div class= "tittletext-B">{{card.address}}</div>
                        <div class="SectionB-2" style="width: 100%;">
                            <div  style="width: 50%; float:left; padding-bottom:1.6vh;" >
                                <div class= "maintext-B" ng-show="card.celebrations != 'null'" > Celebración:</div>
                            </div>
                            <div style="width: 50%; float: right; padding-top:0.2vh" >
                                <div  style="padding-top:0.8vh;text-align: right;">
                                    <img src="images/Iconos/map.png" class="icon-B"/>
                                    <div class="place-B"></div>
                                </div>
                            </div>
                        </div>
                        <!-- SectionC Carrousel -->
                        <div class="SectionC">
                            <div id="myCarousel7{{$index}}" class="carousel slide">
                                <div class="carousel-inner" ng-init="get_celebrations(card.id_soul)">
                                    
                                    <div class="active item" ng-if="card.celebrations!=null && $index == 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                    <div class="item" ng-if="card.celebrations!=null && $index != 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel7{{$index}}" data-slide="prev"></a>
                                <a class="right carousel-control" href="#myCarousel7{{$index}}" data-slide="next"></a>
                            </div>
                        </div>
                        <!-- End Carrousel -->
                    </div>
                </div> <!--pannelinfo -->
            </div>
            <!-- end CARD -->

            <!-- Card -->
            <div class="card10" ng-show="cards.length > 9 && cards.length < 13" ng-repeat="card in cards">
                <!-- P1 -->
                <!-- P2 -->
                <div class="panelInfo">
                    <!-- SectionA -->
                    <div class=" SectionA-10">
                        <div class="picFontBody-10" >{{card.intern_code}}</div>
                        <div class="name-10">{{card.full_name}}</div>
                    </div>
                    <!-- SectionB -->
                    <div class="SectionB" >
                        <qrcode class="QR" version="3" error-correction-level="L" size="50" data="http://lsys.mx/cartelera/esquela/index.php?id={{card.id_soul}}" download></qrcode>
                        <!-- <img src="images/QR.png"class="QR-10"/> -->
                        <div class="maintext-B-10">Velación:</div>
                        <div class= "titletext-B-10">{{card.address}}</div>
                        <div class="SectionB-2" style="width: 100%;">
                            <div  style="width: 50%; float:left; padding-bottom:1.6vh;" >
                                <div class= "maintext-B-10" ng-show="card.celebrations != 'null'" > Celebración:</div>
                            </div>
                            <div style="width: 50%; float: right; padding-top:0.2vh" >
                                <div  style="text-align: right;">
                                    <img src="images/Iconos/map.png" class="icon-B-10"/>
                                    <div class="place-B"></div>
                                </div>
                            </div>
                        </div>
                        <!-- SectionC Carrousel -->
                        <div class="SectionC">
                            <div id="myCarousel10{{$index}}" class="carousel slide">
                                <div class="carousel-inner" ng-init="get_celebrations(card.id_soul)">
                                    
                                    <div class="active item" ng-if="card.celebrations!=null && $index == 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                    <div class="item" ng-if="card.celebrations!=null && $index != 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel10{{$index}}" data-slide="prev"></a>
                                <a class="right carousel-control" href="#myCarousel10{{$index}}" data-slide="next"></a>
                            </div>
                        </div>
                        <!-- End Carrousel -->
                    </div>
                </div> <!--pannelinfo -->
            </div>
            <!-- end CARD -->

             <!-- Card -->
            <div class="card13" ng-show="cards.length > 12 && cards.length < 16" ng-repeat="card in cards">
                <!-- P1 -->
                <!-- P2 -->
                <div class="panelInfo">
                    <!-- SectionA -->
                    <div class=" SectionA-13">
                        <div class="picFontBody-13" >{{card.intern_code}}</div>
                        <div class="name-13">{{card.full_name}}</div>
                    </div>
                    <!-- SectionB -->
                    <div class="SectionB" >
                        <qrcode class="QR" version="3" error-correction-level="L" size="50" data="http://lsys.mx/cartelera/esquela/index.php?id={{card.id_soul}}" download></qrcode>
                        <!-- <img src="images/QR.png"class="QR-13"/> -->
                        <div class="maintext-B-13">Velación:</div>
                        <div class= "tittletext-B-13">{{card.address}}</div>
                        <div class="SectionB-2" style="width: 100%;">
                            <div  style="width: 50%; float:left; padding-bottom:1.6vh;" >
                                <div class= "maintext-B-13" ng-show="card.celebrations != 'null'" > Celebración:</div>
                            </div>
                            <div style="width: 50%; float: right; padding-top:0.2vh" >
                                <div  style="text-align: right;">
                                    <img src="images/Iconos/map.png" class="icon-B-13"/>
                                    <div class="place-B-13"></div>
                                </div>
                            </div>
                        </div>
                        <!-- SectionC Carrousel -->
                        <div class="SectionC">
                            <div id="myCarousel13{{$index}}" class="carousel slide">
                                <div class="carousel-inner" ng-init="get_celebrations(card.id_soul)">
                                    
                                    <div class="active item" ng-if="card.celebrations!=null && $index == 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                    <div class="item" ng-if="card.celebrations!=null && $index != 0" ng-repeat="celebration in card.celebrations">
                                        <div class="image-position-right">
                                            <div class="material-icons icons-C" style="font-size:2.8vh;">today</div>
                                            <div class="Subsection-C">
                                                <div class="info-C" >{{celebration.start}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.ending}}</div>
                                            </div>
                                            <div class="Subsection-C">
                                                <div class="info-C">{{celebration.place}}</div>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel13{{$index}}" data-slide="prev"></a>
                                <a class="right carousel-control" href="#myCarousel13{{$index}}" data-slide="next"></a>
                            </div>
                        </div>
                        <!-- End Carrousel -->
                    </div>
                </div> <!--pannelinfo -->
            </div>
            <!-- end CARD -->
            
        </div> <!--end content page -->
    </body>  <!-- ========== end BODY ========== -->
</html>